[2014-04-24 18:50] benh57 opened #1 "Incorrect tag on puppetforge"
The rundeck tag on puppet forge for this project is 'rundeck,' (with the comma) which is causing it to not show up in searches for rundeck by tag. Should probably be fixed.

https://forge.puppetlabs.com/opentable/rundeck

thanks!

[2014-07-14 08:30] liamjbennett opened #4 "Add support for configuring a non-default DB"
http://rundeck.org/docs/administration/setting-up-an-rdb-datasource.html

[2014-07-14 11:50] liamjbennett opened #5 "manage the /etc/init/rundeckd.conf file"
Need to manage this file so that we can configure things like the respawn settings.

[2014-07-14 16:19] danielbryantuk opened #6 "Error 'Could not find package rundeck-2.0.3-1.14.GA' under CentOS 5.6"
Hi everyone,

I'm receiving the following error when attempting to include this module with my Puppet script (executed on Vagrant, with a CentOS 6.5 base box)

Error: Could not find package rundeck-2.0.3-1.14.GA
Error: /Stage[main]/Rundeck::Install/Package[rundeck-2.0.3-1.14.GA]/ensure: change from absent to present failed: Could not find package rundeck-2.0.3-1.14.GA

Is this a known issue, or am

[2014-07-15 09:08] #6 closed, assigned to nobody

[2014-09-28 19:00] taylorleese opened #9 "Indentation in admin.aclpolicy and apitoken.aclpolicy is wrong"
The indentation is wrong in the policy files which results in you not have any access to create projects when you login as admin and there are errors in rundeck.audit.log mentioning the same.

[2014-09-28 19:02] taylorleese opened #10 "Grails server url in '/etc/rundeck/rundeck-config.properties' doesn't respect server url"
The grails server url in '/etc/rundeck/rundeck-config.properties' should respect the server url. Otherwise, the paths are incorrect in various links. I had to do something like below to fix it:

[code]

[2014-09-28 19:03] taylorleese opened #11 "Update the default rundeck version to 2.2.3-1-GA"
Update the default rundeck version to 2.2.3-1-GA.

[2014-09-28 19:08] #9 closed, assigned to nobody

[2014-09-29 09:04] taylorleese opened #12 "admin_password should be a parameter"
admin_password should be a parameter so it's easy to override the value used by realm.properties.

[2014-10-11 13:41] taylorleese opened #14 "Add support for passing in e-mail configuration"
Add support for passing in e-mail configuration. This would include the values here itemized in the grails docs and making the rundeck config a .groovy file:
http://www.grails.org/plugin/mail#Configuration

[2014-10-13 08:57] #1 closed, assigned to nobody

[2014-10-13 08:59] #10 closed, assigned to nobody

[2014-10-13 09:01] #11 closed, assigned to nobody

[2014-10-13 10:04] liamjbennett opened #15 "switch the rundeck-config file from properties file to groovy file"
Refactoring and switching to the groovy format will make adding more complex features such as #14 easier to implement.

[2014-10-16 18:45] pall-valmundsson opened #16 "Initscript not compatible with chkconfig on CentOS 6"
A fresh install contains an init script from the RPM. Your template does not include `# chkconfig: 2345 90 10` in the header and thus this happens:
`Error: Could not enable rundeckd: Execution of '/sbin/chkconfig rundeckd on' returned 1: service rundeckd does not support chkconfig`

Is there some awesome reason for not using the provided init script?

[2014-10-17 15:49] #12 closed, assigned to nobody

[2014-10-22 10:59] ak0ska opened #18 "Avoid using hard coded versions"
Hello,

I was using your module to launch a new Rundeck box. I noticed that certain version numbers are hard coded (jre and rundeck) in the module.
The hard coded version of Rundeck for the RedHat family is outdated, the yum repository the module installs has a newer version.
The version for jre was not present in my default CentOS 7 repos.

So instead of baking default versions into the module, i

[2014-10-24 10:06] #15 closed, assigned to nobody

[2014-10-24 10:49] #14 closed, assigned to nobody

[2014-10-24 11:59] #18 closed, assigned to nobody

[2014-11-20 10:40] #5 closed, assigned to nobody

[2014-11-20 10:54] #16 closed, assigned to nobody

[2014-11-20 11:30] #4 closed, assigned to nobody

[2014-11-21 13:38] danifr opened #27 "Add support for cluster mode"
In your /etc/rundeck/rundeck-config.properties add:
rundeck.clusterMode.enabled=true

And in your /etc/rundeck/framework.properties
rundeck.server.uuid= "XXXXXXXX-YYYY-ZZZZ-VVVV-BBBBBBBBBBBB"

[2014-11-24 16:59] #27 closed, assigned to nobody

[2014-11-26 10:46] ak0ska opened #30 "More intelligent, easier SSL setup"
The module ignores the ssl_enabled setting when configuring the framework properties, and the grails server url. In both cases it uses http and port 4440, instead of switching to https 4443 when ssl is enabled.

[2014-12-23 12:45] liamjbennett opened #33 "Type/provider for managing jobs"
We should have a basic way of managing the rundeck jobs using the api:

Here is a gist of roughly how it should work (this can be split into examples):

https://gist.github.com/liamjbennett/741c9139a66198dc38b2

[2015-03-18 12:18] robertdebock opened #36 "Build fails, so no commits to forge.puppetlabs.com"
I noticed the build has been failing the last 3 months or so (https://travis-ci.org/opentable/puppet-rundeck/builds) and the code on forge.puppetlabs.com is outdated. In my case (CentOS) it's not working anymore because of a specific jre that's not available (anymore?).

Part of params.pp
[code]
Output of yum info java-1.6.0-openjdk
[code]

[2015-03-24 10:53] SydOps opened #39 "New owner, what happen?"
One hour before, I found puppet-rundeck has new release 1.1, and the repository name has been changed from `opentable/rundeck` to `puppet-community/puppet-rundeck`

Any updates for us?

[2015-03-24 11:34] liamjbennett commented on #39
This module - along with a number of opentable modules are being migrated into the puppet-community organisation and forge namespace.

The TLDR; of this is so that we will be able to invite further contribution, gain help with maintenance and increase the overall quality.

There will be a couple of blog posts about this soon that will explain the decision in a little more detail.

[2015-03-24 13:07] #39 closed

[2015-03-25 03:38] SydOps opened #40 "rundeck url change to http://localhost:4440"
I successfully set the puppet code (release 1.0) within vagrant. I can login via `http://192.168.1.2:4440/user/login` from my laptop, created some projects and jobs and save the setting.

Today I saw the new release (1.1) announced, did `git pull`, and `vagrant reload --provision`. I still can see the login page, but when I try to login with `Google Chrome`, it stays at login page. When I login wi

[2015-03-25 03:48] SydOps commented on #40
https://github.com/rundeck/rundeck/issues/671

[2015-03-25 03:48] #40 closed

[2015-03-26 19:30] robertdebock opened #41 "Fact rundeck_version is not OS aware"
The file rundeck/files/rundeck_version is not OS aware. It contains a reference to dpkg, but not rpm.

Maybe it's possible to use the resource abstraction layer from puppet to figure out the version:
[code]

I'll make a fork, patch and pull request in a moment.

[2015-03-30 03:50] SydOps opened #43 "package_version and package_source (baseurl) are not supported for Redhat/CentOS."
I need install old version, so I updated my hiera yaml file as below,

[code]

It didn't work. Then I review the `manifests/install.pp` code, and found it didn't support properly for  `Redhat/centOS`.  it have hard-coding to install latest rundeck version and only from di.bintray.com, there is no chance you can choice the version and baseurl (package_source)

Second, there is no version 1.6 you ca

[2015-04-01 20:20] bruno-loyal3 opened #44 "Storage access for admin group"
In default admin.aclpolicy there is no access for "admin" to storage to upload/manage keys.
There is a reference but only in API policy. There is no reference to resource_types storage in params.pp.

  storage:
    - match:
        path: '(keys|keys/.*)'
      allow: '*' # allow all access to manage stored keys

[2015-04-20 07:57] SydOps opened #45 "puppet-omnibus didn't work with puppet-rundeck."
Not sure with this issue, which github repository I need target (`puppet-rundeck` or `andytinycat/puppet-omnibus`), but since we use `puppet-omnibus` with other forge packages and private packages without this issue, so I put my issue here.

My office use `puppet-omnibus` on all puppet agents.

I install puppet-rundeck with puppetlabs puppet/facter/hierada without issue. But when install with `pup

[2015-04-20 09:37] SydOps commented on #45
I uninstalled puppet-omnibus package, and install again, get same error when run puppet command.

I uninstalled puppet-omnibus package and install with `yum install puppet-3.3.1 facter hiera`, no issue found.

[2015-04-20 13:09] liamjbennett commented on #45
Once you have it installed can you check the output of the /etc/facter/facts.d/rundeck_version script? Given the error you are seeing is with facter perhaps this fact is returning something erroneous.

[2015-04-20 23:31] SydOps commented on #45
puppet environment is broken with puppet-omnibus, but with puppetlabs puppet, i still can see this error:
[code]

If I directly run it with bash, no output
[code]

Read the content in it, our system is CentOS 6.5, and dpkg is not installed by default.

    Linux version is CentOS 6.5

[2015-04-20 23:51] SydOps commented on #45
Yes, your prompt gives me the way to fix it. After install dpkg package, the problem is fixed.

Maybe i can help to fix this issue to add centos support. In CentOS, I run below yum command to get rundeck version.
[code]

[2015-04-21 00:05] SydOps commented on #45
Find the code in `manifests/config.pp`

[code]

[2015-04-21 00:15] SydOps commented on #45
i see, the problem is fixed by #42

[2015-04-21 01:23] SydOps commented on #45
this change (b4bc451) makes trouble.

I faced some issues (#45) which I think it is fixed by #42 and apply the latest commit.

After apply the new change, i saw more errors:
[code]

[2015-04-21 01:25] SydOps commented on #45
If I run below command,
[code]

[2015-04-23 16:01] liamjbennett commented on #45
Ok, that's a little unusual. Thank's for the PR.

I want to take a look into this a bit more and write some tests first so I can understand the problem a bit better.

[2015-04-23 22:50] wcooley opened #48 "Default JDK versions are out of date"
The default JDK versions are for 1.6; Rundeck has required 1.7 since at least 2.4, released in December. (I didn't look back further.) The service fails to start when only 1.6 is installed.

[2015-04-25 02:21] SydOps commented on #48
Could you set in hiera yaml file to control the jre/jdk version?  With this way, you can control the version by yourself, even to install rundeck with java 8.

[2015-04-26 03:54] wcooley commented on #48
Sure, it can be done either in Hiera or as a resource-style class declaration with the parameter; doesn't change the fact that the hard-coded default is no longer current.

I'm undecided about whether trying to track versions like this is a good idea or not -- on the one hand, it requires maintaining a version compatibility mapping that will require maintenance; on the other hand, it's really grea

[2015-04-27 00:42] SydOps commented on #48
My view for this issue is, it is not issue.

Many sites are still using the version of 1.5.X and 1.6.X, update to java 7 is not 100% correct.

[2015-04-28 12:50] liamjbennett commented on #48
We should be able to support this without breaking backwards compatibility with people running with older versions.

I do think that it's important to continue to support to most basic use-case where everything works out of the box.

[2015-04-28 12:59] SydOps commented on #43
@liamjbennett any options for this issue?

[2015-04-28 13:03] SydOps commented on #45
You need stick on commit f8f1dddf6b7d6530d3a6f8ecd5736a5547a885b6 (release v1.1.0)

For anyone who has the same issue, here is my work around. Put below code before you call `include  rundeck`.

[code]

[2015-04-28 13:10] liamjbennett commented on #43
The solution here is to re-implement the same download functionality that we have for Debian. It was there when I first wrote the module but then we moved to the package repo when I discovered its existence.

[2015-04-28 13:11] liamjbennett commented on #45
Thanks @SydOps this is very useful.

[2015-04-29 06:53] SydOps commented on #43
@liamjbennett will we get update in redhat/centos for my issue?

[2015-04-29 07:00] igalic commented on #48
our jira, stash and confluence modules have established a pattern for tracking the version through facts. (this makes upgrades really easy)

so if we do add a version compat matrix to this module, we should also track the installed version.

[2015-04-30 00:19] SydOps commented on #33
@liamjbennett
Could you please provide detail or give some comments on how to use it?

[2015-04-30 08:36] liamjbennett commented on #41
Fixed in 4312884a6642eace0db6167f6d8267d96e19c3aa

[2015-04-30 08:36] #41 closed

[2015-04-30 08:37] liamjbennett commented on #43
Yes, I will be working on this in the next day or so

[2015-04-30 08:41] liamjbennett commented on #36
Sorry this took so long to be looked at. I am closing this issue now in favour of #48 where there is a little bit of discussion of how best to address this problem.

[2015-04-30 08:41] #36 closed

[2015-04-30 12:42] liamjbennett commented on #33
Yes, this work still remains in a branch for that very reason. Two things that need to be done to get this branch merged in 1) validations and tests 2) documentation.

[2015-05-12 18:09] wcooley opened #57 "log4j config for access log is truncated"
The template for the log4j properties appears to be truncated; there are a few characters missing from the format for the access log, resulting is an unusable log.

[2015-05-12 18:11] wcooley opened #59 "Add ability to replace $rundeck::params::jvm_args"
Currently `$jvm_args` from *rundeck::params* is hard-coded and not modifiable.

With $jvm_args only accessible in rundeck::params, it is not possible override the values there. It is necessary add to the JVM parameters to configure rundeckd to listen on a different port than the default and bind to a specific IP address, both of which are preferred when setting up Apache httpd to proxy (I want to

[2015-05-12 18:14] wcooley opened #61 "Add ability to use LDAPS for JAAS auth"
The current template hard-codes "ldap" in the `providerURL` parameter, which does not work if one wants to use LDAPS.

[2015-05-12 18:15] wcooley opened #62 "Add ability to use "roleUsernameMemberAttribute" for JAAS LDAP auth"
For sites using RFC 2307 posixGroup for roles, the *roleMemberAttribute* does not work, because the posixGroup *memberUid* attributes are usernames and not DNs; the *roleUsernameMemberAttribute* is for this.

[2015-05-15 09:30] #62 closed

[2015-05-15 09:31] liamjbennett commented on #59
Fixed in PR #60

[2015-05-15 09:31] #59 closed

[2015-05-15 09:32] liamjbennett commented on #57
Fixed in PR #58

[2015-05-15 09:32] #57 closed

[2015-05-15 14:59] liamjbennett opened #66 "Add support for rundeck.projectsStorageType setting"
New setting in 2.5

[2015-05-15 15:02] liamjbennett opened #67 "Add support for adding readme.md and motd.md for projects."
New in version 2.5

[2015-05-15 15:05] liamjbennett opened #68 "Add support for JettyCombinedLdapLoginModule"

[2015-05-18 01:28] SydOps commented on #43
My system (centos) find the latest version

[code]

I will work out the puppet code to get the nominate version  `2.5.1-1.7.GA` to be installed and raise a pull request.

Ta

[2015-05-18 01:49] SydOps commented on #43
Finally I work it out. `rundeck::package_version` is useless for centos, so define the version in rundeck::package_ensure is enough.

    rundeck::package_ensure: '2.5.1-1.7.GA'

And I got the updates:

    Notice: /Stage[main]/Rundeck::Install/Package[rundeck]/ensure: ensure changed '2.5.0-1.6.GA' to '2.5.1-1.7.GA'

[2015-05-18 02:32] SydOps commented on #43
Fix the `service is not restarted` issue, will follow with a pull request.

{noformat}
Notice: /Stage[main]/Rundeck::Install/Package[rundeck]/ensure: ensure changed '2.5.0-1.6.GA' to '2.5.1-1.7.GA'
Info: /Stage[main]/Rundeck::Install/Package[rundeck]: Scheduling refresh of Class[Rundeck::Service]
Info: Class[Rundeck::Service]: Scheduling refresh of Service[rundeckd]
Notice: /Stage[main]/Rundeck::S

[2015-05-18 03:48] SydOps commented on #43
commit `cdd41e5` is raised to fix issue `rundeck service is not restarted after upgraded in CentOS`
commit `03e714d` is raised to fix issue `package rundeck_config is not upgraded to same version after rundeck is upgraded in CentOS`

[2015-05-18 03:52] SydOps commented on #43
Pull request is https://github.com/puppet-community/puppet-rundeck/pull/69

Please review and merge it. I am waiting the new release 2.5.1 to be upgraded in our system and depend on this change.

Thanks a lot.

[2015-05-18 04:08] SydOps opened #70 "Why /etc/rundeck/rundeck-config.properties is removed and replaced by rundeck-config.groovy"
After upgrade `rundeck-config`, i found the file  `/etc/rundeck/rundeck-config.properties` is removed.

The commit https://github.com/puppet-community/puppet-rundeck/commit/1cbe621f213d19e287c628a9ddac3702c8e3b0ef did it on purpose, but I didn't understand it, I can't find the related document in rundeck.

So why /etc/rundeck/rundeck-config.properties is removed and replaced by rundeck-config.groo

[2015-05-18 06:09] liamjbennett commented on #70
http://rundeck.org/docs/administration/configuration-file-reference.html#groovy-config-format

[2015-05-18 06:11] liamjbennett commented on #70
The groovy format is a bit more flexible for complex configurations.

[2015-05-18 11:49] #43 closed

[2015-05-18 11:50] #70 closed

[2015-05-19 00:48] SydOps commented on #45
@liamjbennett

Will any above commits to be merged soon?  `5520b31` or `88c85e8`

[2015-05-19 00:56] SydOps commented on #45
ic, https://github.com/wcooley/puppet-rundeck/commit/5520b310fb181c02caaa368b60eff88a02198d47 has been merged.
This issue can be closed now.

[2015-05-19 01:48] SydOps commented on #45
I can confirm this issue has been fixed properly, I needn't install dpkg as work around any more.

[2015-05-19 06:09] SydOps commented on #45
I start from a new system (rundeck is not installed) and then i saw the issue again. Seems the problem is not fixed in puppet-omnibus
[code]

[2015-05-21 06:28] SydOps opened #72 "bug report - rundeck user account"
I need rename default rundeck account from `rundeck` to other (following the company naming standard).
[code]

After installed rundeck on a new system, two folders and subfolders are fine with user `A1234`:
[code]

But rundeck user is still created, and folder `/var/lib/rundeck` and subfolders are owned by rundeck.
[code]

My rundeck system is running on CentOS 6.6

[2015-05-21 19:11] wcooley opened #73 "Wrong user & group variables for project dir in resource_source"
There is a minor error in `manifests/config/resource_source.pp` in the `ensure_resource` calls for the project dir and the `etc` subdirectory -- they refer to `$user` and `$group` instead of `$u` and `$g`.

[2015-05-21 20:29] #73 closed

[2015-05-22 07:05] SydOps commented on #48
@liamjbennett

I saw the new open pull request which have a lot of code changes.

But why make this so complicated and space time on it. The comments in init.pp has explained how to install rundeck with a custom jre. It is the end user who should know which java version should be fine to installed with Rundeck.

[code]

[2015-05-22 07:10] liamjbennett commented on #48
So you think it would be better to make those required parameters and bump a major version?

[2015-05-22 15:18] liamjbennett commented on #44
Fixed by #75

[2015-05-22 15:18] #44 closed

[2015-05-22 15:29] liamjbennett commented on #72
Based upon this:
https://github.com/rundeck/rundeck/blob/development/packaging/rundeck.spec#L140:L142

The problem is that the rundeck package creates this by default.

What needs to happen here is that we need to manage the rundeck user in `install.pp` and ensure that if the user != rundeck then we ensure absent for this default.

[2015-05-22 15:56] liamjbennett commented on #61
Fixed with ad79bb6

[2015-05-22 15:56] #61 closed

[2015-05-23 05:54] SydOps commented on #72
Thanks for the confirmation @liamjbennett , that's the root cause. Seems in the same file, line 31~33 have the similar setting.

https://github.com/rundeck/rundeck/blob/development/packaging/rundeck.spec#L31:L33

[2015-05-23 06:39] SydOps commented on #48
@liamjbennett
That's my personal option. As my first reply, this issue is not issue from my view.

commits https://github.com/wcooley/puppet-rundeck/commit/4d9ba11229753fdc28ed4e6683162ba431f3dd8f and https://github.com/wcooley/puppet-rundeck/commit/db406a1233a698372d1b2c2d682fda897ab6d8b1 have been merged, looks reasonable.

But commit https://github.com/puppet-community/puppet-rundeck/commit/5b3

[2015-05-25 04:45] SydOps opened #77 "Resource ["File", "/var/lib/rundeck/libext"] already declared"
Got this error message, when try to set the plugin via hiera yaml file:

[code]
### Related hiera yaml file:
[code]

### Related rundeck pp file:
[code]

If I give the name and source directly (commented in above pp code), code works fine and plugin is installed.

[2015-05-25 04:54] SydOps opened #78 "How to prepare the hiera yaml file for `auth_config` in `templates/realm.properties.erb`"
I need prepare hiera yaml file for template [realm.properties.erb](https://github.com/puppet-community/puppet-rundeck/blob/master/templates/realm.properties.erb)

[code]
Seems it doesn't work. For example, I need set `/etc/rundeck/realm.properties` to
[code]
So could you please share me the sample of hiera yaml file for this setting?

[2015-05-25 05:13] SydOps commented on #45
We are planning to get rid of `puppet-omnibus` from our system, since this issue is only reported with `puppet-omnibus`, and I have work around to resolve it, this issue should be fine to be closed now.

[2015-05-25 05:13] #45 closed

[2015-05-26 03:47] SydOps opened #79 "use ${pd} variable to replace /var/lib/rundeck/libext, if not default value"
Hi

Find this issue when change default plugin directory, and the unless command ls + grep can be merged into one ls command.

Change plugin.pp from:

    unless  => "/bin/ls -l /var/lib/rundeck/libext/ | grep ${name}"

to

    unless  => "/bin/ls ${pd}/${name} 2>/dev/null"

the change has been tested with updated code.
[code]

[2015-05-26 04:37] SydOps commented on #79
Pull request has been raised https://github.com/puppet-community/puppet-rundeck/pull/80

[2015-05-26 13:05] SydOps opened #82 "params list are huge now, no instruction on how to use them properly."
@liamjbennett

Could you please share me a sample of hiera yaml file to list most params? I am stuck to set them properly, and waste a lot of time.

For example, how to setup:
[code]
If you can provide, issue #77 and #78 can be closed.

[2015-05-26 13:43] liamjbennett commented on #82
[code]

[2015-05-27 05:48] SydOps commented on #78
This works for me, thanks @liamjbennett

[code]

[2015-05-27 05:50] SydOps commented on #82
This works for me, thanks @liamjbennett

Could you please provide the same for `rundeck::plugin::name` and `rundeck::plugin::source`?

Can you paste a total sample of hiera yaml file for future reference? it will save a lot of time for others who need to use this puppet module.

[2015-05-27 05:57] liamjbennett commented on #82
Yes, the README does need further examples and I will keep this issue open until I have written some

[2015-05-27 06:00] SydOps commented on #78
@liamjbennett

How to use with ldap? This doesn't work for me
[code]

[2015-05-27 07:35] SydOps commented on #78
Finally I made it work

[code]

[2015-05-27 07:35] #78 closed

[2015-05-27 11:19] grafjo opened #83 "Duplicate declaration $properties_file project.pp vs resource_source.pp"
Using this manifest:
[code]
triggers following error:
[code]

Who is responsible for creating the directory structure and the $properties_file?
Is it a good idea to use a resource_source.pp without a project.pp? I think resource_source.pp can not life without an project.pp because of the required param project_name by resource_source.
IMHO the project.pp should be responsible for $properties_file

[2015-05-27 15:16] dalisch commented on #83
I'm currently dealing with this error as well.

My thoughts are that although a typical use case (ourselves included) would be to have a resource model shared across projects, that isn't the way Rundeck is currently designed, so the resource model should be handled by the project.  There is a feature request for having job libraries that span multiple projects as well (https://trello.com/c/jtFcbfl

[2015-05-28 06:27] SydOps commented on #82
Thanks @liamjbennett, waiting for the updates.

[2015-05-28 06:56] SydOps opened #84 "bindDn define are different in ldap and AD"
Hi

I found the define for bindDn are different between `templates/_auth_ad.erb` and  `templates/_auth_ldap.erb`

[code]
Because of this, I got very strange result in ldpa setting (merged bindDN and userDN), and our ldap tree is not start from `CN=` . Fix is simple, but any reason to do that?

    bindDn="<%= @auth_config['ldap']['bind_dn']%>"

[2015-05-28 17:55] wcooley opened #85 "log4j config needs update"
I just ran into a full file system due to rundeck/rundeck#1175, which is fixed upstream and included in the latest  RPM, but lost due to the template overwriting it. The easy solution is to just update the template with this and other changes from the upstream but this will likely be a problem again in the future and, in general, continues to limit users' flexibility.

Before I start coding anythi

[2015-05-29 06:00] SydOps opened #87 "rd-jobs is failed after change admin password"
report the issue to rundeck with https://github.com/rundeck/rundeck/issues/1268

I found the reason, so it need be fixed in puppet-rundeck.

When change the admin password in `/etc/rundeck/realm.properties`, the password in `/etc/rundeck/framework.properties` is not changed. Then `rd-jobs` command is failed.

Could you please add new feature to update the admin password at same time in both  `/etc

[2015-05-29 06:10] SydOps commented on #87
Ok, I fixed my own issue, here is the updates in hiera yaml file
[code]

[2015-05-29 06:10] #87 closed

[2015-05-29 11:46] liamjbennett commented on #87
Well I'm glad you managed to resolve your issue. This does however demonstrate a bad user experience and how easy it is mess up the configuration. You're correct to close this particular ticket but I may raise an additional one later on to deal with this problem more generically.

I think there should probably be some validation around hashes that we input for these files.

[2015-05-29 13:22] liamjbennett commented on #48
I have raised an alternative PR for this issue - that completely removes the management of the JRE.
The argument is this case is that it should probably be managed at the profile level and just documented in this module as a dependency.

Thoughts?

[2015-05-29 14:41] liamjbennett commented on #72
Fixed in 383d55d

[2015-05-29 14:41] #72 closed

[2015-05-29 15:06] liamjbennett commented on #79
This issue should now have been resolved.

[2015-05-29 15:06] #79 closed

[2015-05-29 15:11] liamjbennett commented on #84
Fixed in 57dd073

[2015-05-29 15:11] #84 closed

[2015-05-29 15:22] liamjbennett commented on #83
The duplication error should have been fixed by this: d3ee42f

But I will keep this open because I think I agree that there needs to be some further refactoring done here.

[2015-05-29 16:05] wcooley commented on #48
I think not managing the JRE is probably fine - it's a big, messy piece that has lots of other interested parties, so leaving it up to the user is probably for the best. It would be a good idea (I haven't looked at your PR) to include externally managing the JRE in the examples (maybe using [/puppetlabs/puppetlabs-java]) -- that will make it more visible than just including it in a body of text.

[2015-05-30 08:07] rooty0 opened #91 "bug in Rundeck::Install"
[code]

[2015-05-30 08:43] rooty0 commented on #91
so far I have only 1 idea how to fix it
https://github.com/ghoneycutt/puppet-module-common/blob/master/manifests/mkdir_p.pp

probably need to remove
[code]
and apply that function to both $projects_dir and  $plugin_dir dirs

[2015-05-30 09:07] rooty0 commented on #91
p.s. it happens because puppet tries to create directories first and only after that installs rundeck package

as different option to fix this:
class Rundeck::Install can be split into 2 classes
- need to put "install package" process in one class and other things in second class
- set dependency between these new classes (call first class first to install package first )

[2015-06-01 06:05] SydOps opened #93 "doesn't have ldaps support"
I set with ldaps, but didn't get what I need. After review the code, i found the setting in `_auth_ldap.erb` are only for `ldap`, not for `ldaps`

[2015-06-01 07:24] rooty0 opened #94 "jre_manage is broken"
conditions:
[code]
result:
[code]

[2015-06-01 08:21] rooty0 opened #96 "ldap template typo"
I think this is a typo:
[code]
According to official documentation:
[code]
 it's breaking ldap authentication

please merge following to fix this

[2015-06-02 00:14] wcooley commented on #93
@SydOps Did you notice that you can specify the LDAP URL instead of the server and port? I added this with PR #61 so you can specify *ldaps*.

[2015-06-02 00:27] wcooley opened #100 "PR #76 breaks due to incomplete "framework_config""
@grafjo There is a problem with PR #76 in that it misses the `deep_merge` that happens in `rundeck::config`, which merges the `framework_config` parameter from `rundeck` and `rundeck::params::framework_config`. I haven't had time to test if just inserting `config::` is sufficient or not.

[code]

[code]

[2015-06-02 00:53] SydOps commented on #93
Thanks, @wcooley

That's in new commits! My environment is locked with `Puppetfile.lock` file.

Sure, will adjust to use latest code and try again.

[2015-06-02 01:00] SydOps commented on #96
I already raised the issue in #84 to report the same issue.

[2015-06-02 02:03] rooty0 commented on #96
@SydOps thanks, just noticed
I don't really understand how that fix https://github.com/puppet-community/puppet-rundeck/commit/57dd07315844a499e832c26ebb3b60d228828ab1 will solve this (and yours) issue

[2015-06-02 02:21] rooty0 commented on #84
hey @liamjbennett
I don't really understand how this fix https://github.com/puppet-community/puppet-rundeck/commit/57dd07315844a499e832c26ebb3b60d228828ab1 going to resolve this issue.

Official documentation:
[code]
where **bindDn** and **userBaseDn** completely different values
so I don't understand why do we have **userBaseDn** inside **bindDn**. Can we just remove **userBaseDn** from **bindDn*

[2015-06-02 13:12] grafjo commented on #100
Good point. My testing config is like this one:

[code]

[2015-06-03 17:28] wcooley opened #103 "Validate ACL policy"
Given the complicated structure of the `$acl_policies` parameter of `rundeck::config::aclpolicyfile`, it would also be nice to see validation of a minimal policy hash. (Determining what that minimum is, of course, is possibly the more complicated problem.)

[2015-06-03 17:30] liamjbennett commented on #103
Yea +1 for this

[2015-06-05 08:20] #96 closed

[2015-06-05 08:29] liamjbennett commented on #48
Removed the management of the JRE. Need to add many more examples into the documentation anyway before the next release but I will raise that as a separate PR.

Closing this issue now as it is no longer relevant. Thanks for pushing me forward to deal with this problem.

[2015-06-05 08:29] #48 closed

[2015-06-05 09:13] liamjbennett commented on #94
Closed as we do not want to manage the JRE dependency any more.

[2015-06-05 09:13] #94 closed

[2015-06-05 09:18] liamjbennett commented on #93
I think we can say that this is just a poor examples/documentation problem. Will close for now.

[2015-06-05 09:18] #93 closed

[2015-06-05 09:38] #91 closed

[2015-06-05 10:54] liamjbennett commented on #103
I think the best option for this is to write a custom validate function for the acl hash. I am going to give that a go and see what I can come up with.

[2015-06-05 11:09] #100 closed

[2015-06-05 11:11] liamjbennett commented on #77
Are you sure the spacing in your yaml is correct?

I have been unable to reproduce this issue so I am closing for now.

[2015-06-05 11:11] #77 closed

[2015-06-05 11:13] #83 closed

[2015-06-05 16:10] liamjbennett commented on #103
Started work on this on the validate_acl branch.

[2015-06-15 14:34] clauded opened #107 "Support for self signed certificate"
We use rundeck with foreman a we have a self signed certificate on the foreman server. We then use the foreman api to get the node list in rundeck. For this to work, we need to import the self-signed certificates in the truststore (the foreman CA and the foreman SSL cert). We also need to fix /etc/rundeck/profile. It would be nice to have a sub module to configure this. Right now we use the follow

[2015-06-16 08:48] patcadelina opened #108 "Add support for customizing rundeck-config"

[2015-06-16 10:03] patcadelina opened #110 "Add support for customizing realm.properties"

[2015-06-16 10:28] patcadelina opened #112 "Add aws-ec2 as resource_source"

[2015-06-29 08:45] liamjbennett opened #115 "Ensure that puppet-archive dependency is correctly installed"
With the recent move to puppet-archive for downloading plugins it has been noticed (by @SydOps) that this dependency requires a gem to be installed on the puppet master. The documentation for states that it can be installed with `include archive`. This should be made clear from the documentation.

[2015-07-09 18:38] clauded opened #118 "Project define doesn't have ssh_keypath parameter"
In puppet-rundeck/manifests/config/project.pp, documentation mention the 'ssh_keypath' parameter, however it's not defined as a parameter but only as a variable. So if we call the module with 'ssh_keypath', puppet run fails.

[2015-07-09 18:41] clauded commented on #107
I found the following workaround so I'm closing the issue :

$truststore          = '/etc/rundeck/ssl/truststore'
$truststore_password = 'adminadmin'
class { 'rundeck':
...
    truststore            => $truststore,
    truststore_password   => $truststore_password,
    jvm_args              => "-Xmx1024m -Xms256m -server -Djavax.net.ssl.trustStore=${truststore} -Djavax.net.ssl.trustStoreType=jks -

[2015-07-09 18:41] #107 closed

[2015-08-04 23:28] fessyfoo opened #119 "job_type branch and deps on File[/usr/bin/gem] File[/usr/bin/ruby]"
@liamjbennett  per our convo,  here's the issue using the [job_type](https://github.com/puppet-community/puppet-rundeck/tree/job_type) branch

 [job_type](https://github.com/puppet-community/puppet-rundeck/tree/job_type) branch introduces  a dep on File[/usr/bin/gem] File[/usr/bin/ruby]  which in our installations are managed by virtue of managing the deb packages that provide them and as such are

[2015-08-10 17:39] jyaworski opened #121 "Invalid acl policies generated?"
Hello:

I have an acl_policies variable in YAML. After #117 was merged, I had to refactor my array so that the new validation would pass. However, it looks like, even though it passes validation, it's still invalid to rundeck. I'm unable to login and access anything with the 'user' role.

Looking on rundeck's site, it seems like

Below is my variable (in YAML) and below that is the policy generate

[2015-08-10 17:43] liamjbennett commented on #121
Hi,
Yes the restructuring of the acl is why this has not been released yet (it will be a major version bump soon).

I cannot see the issue immediately. What do your logs say?

[2015-08-10 17:44] liamjbennett commented on #121
Hmm maybe it's the description that appears to be unquoted.

[2015-08-10 17:46] jyaworski commented on #121
Sorry, I meant the 'admin' role earlier.

Looking at the logs, I see:

[code]

[2015-08-12 15:31] jyaworski commented on #121
Looks like this works:

[code]

I'll see if I can write up a PR.

[2015-08-13 12:45] #121 closed

[2015-08-13 12:54] jyaworski opened #124 "Changing the database doesn't move project data"
Looking at this:

https://github.com/rundeck/rundeck/blob/development/docs/en/administration/07-relational-database.md#configure-rundeck-configproperties

It seems like we also need to change some objects in the rundeck config to enable project storage in the db.

[2015-08-25 23:57] johnzimm opened #125 "Evaluation Error on require of puppet/util/rundeck_acl"
Referencing: eaf068ac8a0d0502ea9a075821583800d30439df

https://github.com/puppet-community/puppet-rundeck/blob/eaf068ac8a0d0502ea9a075821583800d30439df/lib/puppet/parser/functions/validate_rd_policy.rb#L1

Running Puppet OSS 4.2 with module cloned from the commit referenced above.

Full error message from the puppet agent run is...

[code]

[2015-08-31 20:13] dandunckelman commented on #125
I get a similar error on Puppet v3.8.2.

    Error:  Could not retrieve catalog from remote server: Error 400 on SERVER; Could not autoload puppet/parser/functions/validate_rd_policy: cannot load such file -- puppet/util/rundeck_acl on node rundeck-dev.local

I'm unsure if this is something that can be resolved by this module.  For now, I'm pinned to ref:  587c9192bd67468d7cd28aff2b3be51281e409cf

[2015-08-31 20:34] liamjbennett commented on #125
I think there are a couple of issues that might be causing this and I do belive it is a problem with the module.

I think it missing a `module_functions` declaration.

Also clearly it is missing tests to catch this problem in the first place.

[2015-08-31 20:36] dandunckelman commented on #125
@liamjbennett oh, that makes sense.  Thanks!

[2015-09-03 08:40] oloc opened #126 "What about a new module release?"
Currently the module version is: Version 1.2.0 released May 22nd 2015

May I suggest to build a new one in order to take into account the last commits?

[2015-09-03 13:09] dalisch commented on #126
I second that!  I'm already using some of the features committed since 1.2.0.

[2015-09-07 09:38] ak0ska commented on #126
+1

[2015-09-11 10:37] #103 closed

[2015-09-11 11:08] liamjbennett commented on #126
2.0.0 released.

[2015-09-11 11:08] #126 closed

[2015-09-14 18:52] johnzimm commented on #125
Anyone else experiencing this issue?  Just saw a new version was tagged (v2.0.0).

[2015-09-14 19:24] liamjbennett commented on #125
I have been trying to replicate this in the beaker tests but have not been able to yet.

v2.0.0 was indeed released recently as there were many other changes people were asking for.

[2015-09-14 19:36] liamjbennett commented on #125
The two things I think the related to:
1) the util file needs to be moved to the puppetx namespace
2) we need to do a relative require on the file for the poor people still on ruby 1.8.7

[2015-09-21 14:51] igalic commented on #125
ad 1) puppetx -> puppetcommunityx

[2015-10-02 14:25] Tombar commented on #125
same for me on puppet 3.8.3 with plugingsync=true on both puppetmaster and node

any pointer on how to fix it? tried messing with the module structure without luck

thanks

M

[2015-10-06 04:04] lord2800 opened #131 "Librarian-puppet can't find puppet/archive"
It seems the dependency is actually named [`nanliu/archive`](https://forge.puppetlabs.com/nanliu/archive) on puppetlabs forge. Maybe I'm looking at the wrong one though?

[2015-10-07 00:23] Tombar opened #132 "Error on rundeck::facts crashing old puppetdb"
Hello Guys, congrats on the puppet-comunity effort!

This bug has haunted me for almost a week! hope I can save some souls :)

The main issue is, the facter code itself is plain wrong @debian7 at least

[code]

Will output:
[code]

The side effect is, at least on my environments it managed to crash the replace_facts stage at puppetdb > https://tickets.puppetlabs.com/browse/PDB-2034 with really unf

[2015-10-07 12:37] ak0ska commented on #125
We have the issue as well, Puppet 3.7.5, Ruby 2.0.0, CentOS7 on masters and agents.

@Tombar
I shamefully admit I did the following less-than-pretty change locally to get it working.
[code]
In my defence [official modules](https://github.com/puppetlabs/puppetlabs-inifile/blob/master/lib/puppet/provider/ini_setting/ruby.rb) also do things like that. ;)

[2015-10-07 14:57] JesperTerkelsen commented on #125
I also have this problem on my puppet server.

[2015-10-07 18:04] jyaworski opened #133 "Modulesync?"
Is there any interest in using modulesync?

https://github.com/puppet-community/modulesync

[2015-10-07 18:17] liamjbennett commented on #133
+1 from me on this. More than happy to move to modulesync.

[2015-10-09 14:32] Tombar commented on #125
I've tested @ak0ska suggestion from @JesperTerkelsen fork and it work as expected.

Please merge this change :)

Regards

M

[2015-10-10 01:10] jbehrends commented on #132
This also effects the latest puppetdb v3.1.0 and will result in puppetdb eventually running out of disk or store space.

[2015-10-10 02:08] liamjbennett commented on #132
This has been resolved by @jbehrends. Thanks for the PR.

[2015-10-10 02:08] #132 closed

[2015-10-13 19:22] mkrakowitzer commented on #131
We need to release this module in using the puppet namespace, nanliu is the previous namespace.

[2015-10-14 14:37] igalic commented on #131
gosh, yes.
@mkrakowitzer do you wanna start with adding it to msync :P

[2015-10-14 17:57] johnzimm commented on #125
@JesperTerkelsen can you submit a pull request for your changes?

[2015-10-14 18:53] Tombar commented on #125
Just submit PR #140 with @ak0ska and @JesperTerkelsen suggestions to speed up things.

Regards

M

[2015-10-14 23:38] rooty0 commented on #125
hey @liamjbennett,
so I was able to reproduce this issue with ruby
[code]

I was unable to reproduce the issue on my virtual machine with the same version of ruby (Puppet 3.7.4).

Wondering if it's really related to ruby's version

[2015-10-18 04:39] #133 closed

[2015-10-18 04:41] jyaworski commented on #67
Seems useful.

http://rundeck.org/docs/administration/project-setup.html#project-readme.md

[2015-10-18 04:43] jyaworski commented on #33
@liamjbennett I thought about this. It seems like way too much to specify in YAML/config.

What I did for this was to cron `rd-jobs import` and `rd-jobs export` so I could manage everything in the GUI and store the YAML files generated in a git repo. Something to think about.

[2015-10-18 09:48] liamjbennett commented on #33
Interesting.

I am not 100% sold on the idea of a type/provider because of some of the challenges of that approach. It does, as you point out, some across as a little verbose. This is the reason I have kept the work on a branch.

The problem(s) that it solves for us (we are expimenting with it internally) is that we have some common jobs between projects and some variation is jobs between environm

[2015-10-18 17:32] ltutar commented on #82
I am also not able to create a project through yaml. Can somebody provide an example? 'puppet module install' downloads version 1.2.0 on my machine.
I found the following in project.pp
# rundeck::config::project { 'test project':
#  ssh_keypath            => '/var/lib/rundeck/.ssh/id_rsa',
#  file_copier_provider   => 'jsch-scp',
#  node_executor_provider => 'jsch-ssh',
#  resource_sources       =

[2015-10-20 01:16] jyaworski commented on #85
@wcooley option 4 is also my preference. However, would a template override be the most straightforward way to do this?

[2015-10-20 11:04] igalic commented on #133
:purple_heart:

[2015-10-21 16:43] wcooley commented on #85
@jyaworski The template override would be the easiest, although I generally prefer to edit package-installed files rather than replace -- that way, if improvements are made upstream, you can get them automatically (depending on how they're packaged).

Rather than re-inventing log4j management, however, it might be worth looking into [danielgil/log4j](https://forge.puppetlabs.com/danielgil/log4j) t

[2015-10-22 22:59] JesperTerkelsen commented on #125
@johnzimm I made the pr.

[2015-10-23 13:57] jyaworski commented on #85
@wcooley all right. I'm not entirely familiar with log4j, but I think I can refactor it to produce the same output at the very least.

I agree with the use of an upstream module, but we need to find out what the most common log4j solution is. I'm hesitant to introduce dependencies when I don't need to.

I may look at this.

[2015-11-13 20:29] jyaworski commented on #33
I find this issue moot now that the SCM plugin has debuted in 2.6.0.

[2015-11-17 08:55] ltutar commented on #82
??

[2015-11-17 16:29] igalic commented on #82
@ltutar `puppet module install` what?

[2015-11-17 18:54] ltutar commented on #82
I just want to know why
class rundeck_config::config {
   rundeck::config::project { 'PetClinicProject':
   }
}

works,
Notice: /Stage[main]/Rundeck_config::Config/Rundeck::Config::Project[PetClinicProject]/File[/var/rundeck/projects/PetClinicProject]/ensure: created
Notice: /Stage[main]/Rundeck_config::Config/Rundeck::Config::Project[PetClinicProject]/File[/var/rundeck/projects/PetClinicProject/v

[2015-11-17 19:57] jyaworski commented on #82
@ltutar hi! This is because each project needs to be a hash at this time. This line shows the logic:

https://github.com/puppet-community/puppet-rundeck/blob/master/manifests/config.pp#L155

You could try the following:

[code]

I am also not sure when the last time we had a forge release. Have you tried the git version?

[2015-11-17 20:09] ltutar commented on #82
yaml with version 1.2.0 does not work.
root@puppetmaster modules]# puppet module install puppet-rundeck
Notice: Preparing to install into /etc/puppetlabs/code/environments/production/modules ...
Notice: Downloading from https://forgeapi.puppetlabs.com ...
Notice: Installing -- do not interrupt ...
/etc/puppetlabs/code/environments/production/modules
└─┬ puppet-rundeck (v1.2.0)
  ├── puppetlabs-ini

[2015-11-17 20:36] ltutar commented on #82
v2.0.0 will also not create the project.

[2015-11-17 21:33] jyaworski commented on #82
@ltutar can you paste your modified YAML block?

@liamjbennett we really need to solve the function loading thing. :/ One of those PRs should get accepted.

[2015-11-17 21:35] ltutar commented on #82
rundeck::package_ensure: '2.6.1-1.12.GA'
rundeck::auth_config:
  file:
    admin_user:   'admin'
    admin_password: 'benny'
rundeck::framework_config:
  framework.server.password: 'benny'

rundeck::projects:
  testproject: {}

[2015-11-18 02:06] jyaworski commented on #82
@ltutar did you lose formatting? Could you either wrap your output in the code example from here?

https://guides.github.com/features/mastering-markdown/

If it's just not doing anything, the chances are that you need to use the git version, as the feature was added fairly recently.

[2015-11-18 10:49] jamielennox1 commented on #131
When is this due to be released into the puppet forge?

[2015-11-18 12:09] ltutar commented on #82
Just installed the latest git version on a new created puppet master :(
[root@rundeckagent ~]# puppet --version
4.2.3
[root@rundeckagent ~]#

Info: Loading facts
Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Function Call, Could not autoload puppet/parser/functions/validate_rd_policy: no such file to load -- puppet/util/rundec

[2015-11-19 16:51] remixtj opened #149 "When puppet manifest is applied without changes, {admin,apitoken}.aclpolicy may be regenerated triggering useless restart"
I prepared my own module calling the puppet-rundeck one to setup in automated way instances of rundeck. I'm applying through puppet master and puppet agent is set to apply new configuration every 30 mins.
The issue i'm facing is very strange. No custom aclpolicy is defined in my own puppet module. Sometimes, when configuration is applied, on syslog i find messages regarding the change of the conte

[2015-11-19 17:29] ltutar commented on #82
Downloading the latest git version made the following yaml work. Thank you all for your help

[2015-11-19 22:10] ltutar commented on #82
Can somebody help me to yaml the following?
[code]

[2015-11-19 22:33] ltutar opened #150 "Invalid parameter: 'ssh_keypath'"
I have the following puppet code after downloading the latest version from github.
[code]

When I run it, I get the error:
[code]

This is the same as the example given in config/project.pp
[code]
Am I missing something here?

[2015-11-20 03:01] jyaworski commented on #82
@ltutar github is not designed for this kind of question. I would try StackOverflow in the future.

You may also want to look at this link:

https://docs.puppetlabs.com/hiera/1/complete_example.html#kermitexamplecomyaml

[2015-11-20 06:41] ltutar commented on #82
Ok.

[2015-11-20 14:36] liamjbennett commented on #125
Fixed with #146

[2015-11-20 16:16] jyaworski commented on #125
@liamjbennett I don't believe this is fixed. I pulled down the newest git, cleared all of my caches, and tried running it. Same error.

[2015-11-20 16:50] liamjbennett commented on #125
What version of puppet are you running? I tested it myself with 3.8.3 and ruby 1.9.3p484

[2015-11-20 17:00] jyaworski commented on #125
@liamjbennett failed with both 4.2 and 4.3.

[2015-11-21 05:21] jyaworski commented on #150
Hello:

This is a duplicate of #118 and will be solved once #153 is merged.

[2015-11-21 05:21] jyaworski commented on #149
I can confirm this happens. The ordering changes on each run. Let me take a look.

[2015-11-21 05:26] jyaworski commented on #131
@igalic is https://github.com/puppet-community/puppet-archive/ even on the forge? That's what it is referencing. Are _any_ of the community modules on the forge?

[2015-11-21 05:29] jyaworski commented on #115
Is this a duplicate of #131?

[2015-11-21 05:38] jyaworski commented on #119
Could you explain a bit more about this?

[2015-11-21 05:38] jyaworski commented on #112
Could you explain this in more detail?

[2015-11-21 05:39] jyaworski commented on #110
Could you describe this in more detail?

[2015-11-21 05:39] jyaworski commented on #118
Hello:

This should be fixed by #153.

[2015-11-21 05:39] jyaworski commented on #108
Could you explain this in more detail?

[2015-11-21 05:48] jyaworski commented on #82
@liamjbennett is this issue solved? Can it be closed?

[2015-11-21 05:57] jyaworski commented on #68
Was this solved in #98?

[2015-11-21 05:59] jyaworski commented on #66
Docs:

http://rundeck.org/docs/administration/project-setup.html#project-definitions

http://rundeck.org/docs/administration/configuration-file-reference.html#project-configuration-storage-settings

[2015-11-21 06:01] jyaworski commented on #30
I may take a look at this soon.

[2015-11-21 07:42] #118 closed

[2015-11-21 07:43] #150 closed

[2015-11-21 07:45] #115 closed

[2015-11-21 07:47] #68 closed

[2015-11-21 16:03] fessyfoo commented on #119
int he job_type branch, linked above  there's this:

[code]

a dep on  specific file resources. for `/usr/bin/ruby` and `/usr/bin/gem`  if you got your ruby from say a package resource, then this file resource doesn't exist in the catalog,  and this dep fails.   at least I think that's how we stumbled into the issue.

[2015-11-21 20:32] jyaworski commented on #119
@fessyfoo OK, that makes sense. There should likely be a better test for that. I'll take a look.

[2015-11-21 20:35] jyaworski commented on #119
Actually, this looks like it's related to #33, which is arguably no longer needed due to the SCM plugin. Is there a need to specify jobs in Puppet, when Rundeck integrates with git natively now? When I updated to 2.6.1 I no longer cared about specifying Rundeck jobs in Puppet.

[2015-11-21 20:38] jyaworski commented on #110
I'm not entirely sure this is needed, because our realm.properties is a template. Did you have something else in mind? Specifying your own template?

[2015-11-21 20:39] jyaworski commented on #108
It seems like rundeck-config is already a template. Did you mean the ability to specify your own template?

[2015-11-21 20:52] liamjbennett commented on #119
How many instances/environments do you have rundeck in? Do they all run off a single repo?

We have multiple environments that share some but not all projects and jobs.

Do you have projects that have the same job(s)? How do you deal with that?

[2015-11-22 04:17] jyaworski commented on #119
@liamjbennett We have each of our projects export to their own YAML file in a repo. We don't do shared jobs cross-project due to some quirks in our environment; each project/team/etc is completely responsible for their job content, and we only provide the infrastructure to run it on. We have it in three environments currently (growing to be eight in the next six months). Each environment commits/p

[2015-11-22 09:30] remixtj commented on #149
The order changes due to the internal structure of hashes in ruby (?) but in general in other programming languages. Since access is through key and not through position, they can be positioned with any order and access through .each uses this ordering. You should check on erb template for aclpolicy and try to use something that dumps the aclpolicy always in the same order.

[2015-11-22 09:37] liamjbennett commented on #149
What ruby version are you running? Ruby has maintained hash insertion order since 1.9.

[2015-11-22 09:51] liamjbennett commented on #119
That actually sounds great and I guess solves the issue of keeping the jobs in sync.

We are using this branch to puppet manage our jobs because we have jobs that are duplicated (or very similar) between projects and also some projects and jobs that only occur in one environment. I still think there might be some use cases for puppet-management but i'm open to alternatives.

Having said all that w

[2015-11-23 22:08] ltutar commented on #82
I still do not have the answer for yaml. But as I am told github is not the place for these kind of questions, the issue may be closed.

[2015-11-23 22:38] SydOps commented on #82
@liamjbennett

Do you think I can close this ticket? You marked it with enhancement label on May 29, and I am still waiting the updates.

[2015-11-23 23:04] ltutar commented on #118
I just downloaded the master. It is working. Thank you very much.

[2015-11-23 23:22] ltutar opened #156 "PE2015.2.3 Error: Facter: error while processing "/etc/facter/facts.d/rundeck_facts.rb" for external facts: child process returned non-zero exit status (127)."
I see the following in puppet agent run:
[code]

The content of rundeck_facts.rb is
[code]
When I search for ruby on the agent, it is found at the following places
[code]

Puppet version is
[code]

[2015-11-24 07:13] #82 closed

[2015-11-24 10:19] ltutar commented on #82
I now have the yaml file. I will post it here  for the other users.
[code]

[code]

[2015-11-24 21:50] SydOps commented on #82
@ltutar :+1: thanks for sharing.

[2015-11-24 23:55] natemccurdy opened #157 "resource_source's validation of $number is too restrictive"
**Problem**
In the resource_source defined type, the parameter `$number` is validated using the `validate_re()` function. This function only works with Strings.

[code]

When using the Puppet 4 parser, this fails to validate if a bare number (Fixnum) is passed into that parameter with the following error message:

[code]

**Resolution**
The `$number` parameter is only ever used as an interpolated

[2015-11-27 13:04] ltutar opened #158 "install rundeck from a local rpm"
I would like to install rundeck from a local rpm. I could not find the way to to it in the puppet code. Is this possible and I am missing something.

[2015-11-29 10:29] remixtj commented on #149
I'm using default ruby for RHEL 6.6 on the host where rundeck is deployed:

ruby 1.8.7 (2013-06-27 patchlevel 374) [x86_64-linux]

[2015-11-30 10:14] ltutar commented on #156
installing ruby with package ruby on the rundeck machine made the warning disappear.

[2015-12-02 14:36] igalic commented on #131
@jyaworski yes, there are many community on the forge under the /puppet namespace.

but puppet-archive isn't yet. it's still choking on https://github.com/maestrodev/puppet-blacksmith/issues/23

[2015-12-03 09:48] patcadelina commented on #108
Closing this issue, resolved via #109.

[2015-12-03 09:48] #108 closed

[2015-12-03 09:49] patcadelina commented on #110
Closing this issue, resolved via #111.

[2015-12-03 09:49] #110 closed

[2015-12-03 09:49] patcadelina commented on #112
Closing this issue, resolved via #113.

[2015-12-03 09:49] #112 closed

[2015-12-03 15:21] igalic commented on #156
***groan***

[2015-12-03 15:22] igalic commented on #158
there's an (undocumented!) package_source parameter, which you could use

[2015-12-03 15:22] jyaworski commented on #156
I'll take a look at this later today. Arguably it shouldn't even have a shebang.

[2015-12-03 15:22] igalic opened #159 "package_source is not documented"
in #158 we noticed that package_source is not documented

perhaps there are others, too…

[2015-12-03 15:23] igalic commented on #156
@ltutar how did you install puppet / facter?

[2015-12-04 06:23] patcadelina opened #160 "Aclpolicy is getting null pointer"
After upgrade to puppet-rundeck `v2.1.0`, I'm getting this error in puppet (running `v3.4.3` in Ubuntu 14).
[code]

[2015-12-04 20:04] ltutar commented on #156
I just downloaded the master zip of puppet-rundeck and put it in the directory /etc/puppetlabs/code/environments/production/modules , just like the other modules.
And I install ruby as followed
[code]

[2015-12-04 20:09] ltutar commented on #158
I am installing Rundeck on CentOS 6. I read the following in install.pp
[code]
The parameter package_source has only entry for Debian.
Am I missing something?

[2015-12-04 20:11] igalic commented on #160
this,
[code]
should become,
[code]

[2015-12-07 09:29] patcadelina commented on #160
Thanks, @igalic. I made a few [changes](https://github.com/patcadelina/puppet-rundeck/commit/a6ad46c6c31cccd782c376d9e5a0131fd423e330) to `aclpolicy.erb` and yet another error comes up. I wonder if these come up on your end as well?
[code]

[2015-12-07 15:54] igalic commented on #160
@patcadelina from what i gather the by is already failing, so you'd need an unless before line 26

[2015-12-15 14:00] f3rr commented on #125
Same problem here
- puppet 3.8.2
- ruby 2.0.0

[2015-12-22 20:00] dalisch commented on #85
Proposed solution: https://github.com/puppet-community/puppet-rundeck/pull/161

[2016-01-04 14:30] igalic commented on #85
thank y'all! i'll close this issue for now

[2016-01-04 14:30] #85 closed

[2016-01-21 05:12] jyaworski commented on #158
@ltutar it looks like install.pp needs a refactoring. Rundeck doesn't have an apt repo; just a bunch of .debs at http://dl.bintray.com/rundeck/rundeck-deb/

I'll look at this.

[2016-01-21 22:31] jyaworski commented on #158
@ltutar did you mean use a local yum repo, or installing from actual rpms? I'd be OK with a local yum repo.

[2016-01-22 08:20] ltutar commented on #158
actually both.

[2016-01-22 15:18] jyaworski commented on #158
@liamjbennett? I'm thinking we allow install from local rpm, but not manage a non-official repo.

[2016-01-22 15:50] ltutar commented on #158
That's ok with me. I am now using rundec-deps module to install the local rpm. This would help me get rid of this extra module.

[2016-02-03 09:34] patcadelina commented on #160
Hey @igalic, it seems like the issue was that I was working on an old format for the aclpolicy file. I refactored that using the format similar with [params::acl_policies](https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/params.pp) and it seems to go away. I'd be glad to close this ticket on my end.

[2016-02-03 09:50] #160 closed

[2016-02-06 06:21] jyaworski commented on #66
Would be closed by #167

[2016-02-06 06:21] #66 closed

[2016-02-06 06:21] jyaworski commented on #124
Would be closed by #167

[2016-02-06 06:21] #124 closed

[2016-02-06 06:24] jyaworski commented on #131
This got fixed at some point.

[2016-02-06 06:24] #131 closed

[2016-02-06 06:27] jyaworski commented on #156
I removed the /etc/facter/facts.d stuff in #148. Closing.

[2016-02-06 06:27] #156 closed

[2016-02-06 06:28] jyaworski commented on #157
Would it be better to just <code>validate_integer</code>?

[2016-02-06 06:37] natemccurdy commented on #157
@jyaworski Unfortunately, 'validate_integer' will fail if passed a String.

And it'd probably be best to allow either a String (quoted number) or a Fixnum (unquoted number) to make the user experience better.

By interpolating the variable as a string (by quoting the variable during validation), you allow a Fixnum or a String to be used.

[2016-02-06 06:46] jyaworski commented on #157
The [docs](https://github.com/puppetlabs/puppetlabs-stdlib#validate_integer) seem to point to accepting quoted integers.

[2016-02-06 19:16] natemccurdy commented on #157
Seems that you're right. Tested with puppetlabs/stdlib v4.11.0, and the `validate_interger()` function does accept Fixnums or Strings because it does a `.to_s` on the input:
https://github.com/puppetlabs/puppetlabs-stdlib/blob/4.11.0/lib/puppet/parser/functions/validate_integer.rb#L125

Running this:
[code]
Results in this:
[code]

[2016-02-07 00:33] jyaworski commented on #157
I opened #171. Can you verify?

[2016-02-07 01:47] jyaworski commented on #159
Working on it in #166

[2016-02-07 07:24] #157 closed

[2016-02-12 10:44] icalvete commented on #125
Still broken

- puppet 3.8.1
- commit 96903339b010f5622535532298a47b59b1e07e33
- ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-linux]

[2016-02-16 06:58] FireDrunk opened #176 "HTTPS/SSL Support"
Is there any support for managing the HTTPS/SSL configuration planned?

According to the docs settings should be set in server/config/ssl.properties and the respective keystores should contain proper certificates.

Is it possible to add support for templating this file in the module?

Would be much appreciated!

[2016-02-16 23:24] jyaworski commented on #176
@FireDrunk I have something going on at #155, but it's taking a bit. Please add input there.

[2016-02-18 06:27] SydOps commented on #125
@liamjbennett

Can we re-open this ticket, it is still broken.

[2016-02-18 06:30] SydOps commented on #125
And the way @ak0ska commented on Oct 7, 2015 works. But please fix it in master branch directly.

[2016-02-19 11:44] KrisBuytaert commented on #125
+1 same issue here ;(

[2016-02-22 15:59] jyaworski commented on #149
I suppose we could add a .sort call on the hash.

[2016-02-22 16:41] jyaworski opened #181 "Change project define to be backend-independent"
Now that #167 is merged, the project define should be changed to use rd-project to create its projects.

https://rundeck.org/2.6.2/man1/rd-project.html

[2016-02-24 05:27] SydOps opened #182 "No code to manage cacert (ldaps) and rundeck's private key"
To active ldaps, we need manually import certificate to `/etc/rundeck/ssl/truststore` or `$JAVA_HOME/lib/security/cacerts`

To re-product rundeck server, we need manage its private key, with this feature, we can rebuild rundeck server without replace public key on all clients.

[2016-02-24 05:30] SydOps commented on #182
There is an exist forge module [puppetlabs/java_ks](https://forge.puppetlabs.com/puppetlabs/java_ks) which can be used to input `cacert`. So not sure this should be managed by `puppet-rundeck` module or `puppetlabs/java_ks`

[2016-02-28 11:39] danifr opened #188 "All module variables should be ordered alphabetically"
With all the new variables rebasing gets more and more complicated

[2016-02-28 12:44] jyaworski commented on #188
@danifr yeah, agreed. Do you want to write the PR or should I?

[2016-02-29 09:06] danifr commented on #188
Sure! I'll open a WIP PR for this.

[2016-03-04 18:52] #188 closed

[2016-03-05 04:53] jyaworski commented on #33
@liamjbennett update on this? I have a few open PRs against Rundeck to have better API options for #181.

[2016-03-05 07:42] liamjbennett commented on #33
We'be been using it internally for a while. I'm happy to raise a PR so we can at least have the discussion.

[2016-03-07 03:42] jyaworski commented on #33
Sounds good to me. The Jenkins module for puppet just added this, actually.

I am still skeptical of my personal use-case for this, given that the SCM plugin exists, but there is definitely a use-case for someone.

[2016-03-08 16:51] dalisch commented on #182
These are 2 separate issues, but our teams have problems with both.

[2016-03-08 17:10] jyaworski commented on #182
I have an open PR that's a bit stale at #155.

[2016-03-08 20:10] SydOps commented on #182
@dalisch

Thanks. I currently work on the code with another forge module https://forge.puppetlabs.com/puppetlabs/java_ks with totally seperate codes. Then I saw @jyaworski 's reply, seems he already used that forge module, plus he merged codes into `puppet-rundeck` directly. It should be fine, if his changes can be merged.

For private key, my environment is in aws, so I upload the private key in

[2016-03-08 22:06] dalisch opened #196 "Rundeck private key id_rsa incorrectly set to mode '0640'"
The private key should never be visible to anyone except the user itself (ie: mode '0600').  The permissions are now be overridden to '0640', resulting in an error something like:

[code]

The permissions for id_rsa need to be preserved as '0600'.

[2016-03-09 04:39] MelanieGault opened #197 "rdeck_base is documented but not in the param list"
Hi,

the param rdeck_base is in the doc, and in the header of the init.pp, but it's not present in the init.pp param list.
I did not take the time to look how do the module use it, but we can remove it from init.pp and README or add it to init.pp.

Thanks.
Mélanie.

[2016-03-09 08:12] danifr commented on #196
What about adding something like this?
[code]

[2016-03-09 10:20] danifr opened #199 "groupdel: cannot remove the primary group of user 'rundeck'"
I will try to simplify a bit this code https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/install.pp#L71 to try to get rid of puppet errors when using configuring user/group != rundeck.

[code]

Basically it needs a couple of runs to remove any trace of rundeck user & group.
I will try to add a dependency so it first removes the user and then the group.

[2016-03-09 14:41] mkrakowitzer commented on #125
+1 same issue
puppet 4.3.2

[2016-03-09 17:32] dalisch commented on #196
This seems to work, thanks - I'll use that for now.  I'm also adding a resource default as the owner/group/mode is repeated several times in the manifests.

[2016-03-09 20:15] igalic commented on #181
:+1: do it so, number :one:

[2016-03-09 20:15] jyaworski commented on #196
We have an open PR against rundeck proper to fix this.

[2016-03-09 21:22] dalisch commented on #196
which one?

[2016-03-09 21:25] jyaworski commented on #196
https://github.com/rundeck/rundeck/issues/1521

[2016-03-09 21:48] dalisch commented on #196
Thanks @jyaworski , but these are actually separate issues (although the underlying with SSL is the same).  This issue refers to a bug that was injected in the puppet-rundeck codebase, and I have a PR to fix that now: [PR#202](https://github.com/voxpupuli/puppet-rundeck/pull/202) and has to do with the file permissions of the private key of the 'rundeck' user itself in /var/lib/rundeck.  [rundeck/

[2016-03-10 17:46] jyaworski commented on #199
Do we actually want to remove the rundeck user?

[2016-03-10 17:51] jyaworski commented on #197
We should add it to init.pp. This module has a lot of these mistakes.

[2016-03-10 18:11] danifr commented on #199
Probably not.

Anyway if for some reason we want to ensure that it gets removed, I was thinking to change what we have to something more like:
[code]

I've been using this patch for a couple of days and it fixes this issue.

[2016-03-10 22:02] dalisch commented on #196
closed [PR#202](https://github.com/voxpupuli/puppet-rundeck/pull/202) (not merged), will open up another later.

[2016-03-11 20:26] dalisch commented on #196
https://github.com/voxpupuli/puppet-rundeck/pull/204

[2016-03-11 20:31] #196 closed

[2016-03-14 11:36] rraptorr opened #205 "Insecure downloading of packages"
Class rundeck::install downloads Debian rundeck package to /tmp with known and predictable name (like /tmp/rundeck-2.6.4.deb).

This opens a security hole, as any user on the system can write to /tmp and create .deb file that will be installed by the module as soon as system administrator tries to update rundeck version using this module.

Files should be downloaded to /tmp/ with unpredictable nam

[2016-03-14 13:55] igalic commented on #205
and we're not verifying the downloaded .deb file after downloading it?

[2016-03-14 14:38] rraptorr commented on #205
Downloaded .deb file is simply given to 'dpkg -i' so I don't see any verification, unless I've missed something.

[2016-03-14 14:47] igalic commented on #205
in the case of yum, we add the repo, and [disable the gpg check](https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/install.pp#L40)

IMO, we should add the repo in both cases, and disable it in ***no*** case.

[2016-03-14 15:07] jyaworski commented on #205
@rraptorr I'm working on a solution for this. No ETA sadly. A lot of work needs to be done to even get to this point. Please see #203. It's a massive refactor.

[2016-03-21 17:27] remixtj opened #206 "Change "required" to "sufficient" in _auth_file.erb as workaround for rundeck bug"
Since there is a bug not fixed yet in rundeck (see https://github.com/rundeck/rundeck/issues/1111 ), file template should be patched to include the workaround.

I personally tested the workaround and works, but since I'm enforcing configurations via puppet, I had to disable file based auth.

[2016-03-21 17:31] remixtj opened #207 "Add possibility to change loglevel for some rundeck logs"
I encountered a filesystem full issue last day because of the configuration present in the log4j template.:

With this entry:
[code]

I had, after a run of ~250 jobs, a _rundeck.audit.log_ file of **8GB(!)**. This is maybe due to my acl policies denying certain functions to users that were working on rundeck interface.

[2016-03-21 19:07] olivierapex6 opened #208 "undefined method `each' for nil:NilClass"
Hi

With Ruby 2.0.0p598 , Rails 4.2.6 , I have a issue when I'm trying to create some ACL file .

There is my TEST ACLPOLICY . It has been copy past from the example in the file aclpolicyfile.pp. Only I have changed the "description" and the "groups" argument.
[code]
The full error that I received :
[code]

I use the latest version of this module, 2.2.0 . On CentOS 7.

Thanks

[2016-03-24 15:55] igalic commented on #207
@remixtj would you like to provide a patch for this?
I'd also add rotation for logs (which log4j & company also support)

[2016-03-24 15:56] igalic commented on #206
@remixtj would you like to provide a patch for this? (too;)

[2016-03-25 08:41] remixtj commented on #206
Done, see #211

[2016-03-25 08:45] remixtj commented on #207
The problem is not rotating logs. The log is correctly rotated on daily basis, but grows to that size in a single day.

[2016-03-25 10:35] #207 closed

[2016-03-25 11:19] #206 closed

[2016-04-07 09:11] ltutar commented on #158
Any plans on allowing the installation from a local rpm?

[2016-04-22 06:50] devcfgc commented on #208
@olivierapex6 I was having the same issue... after analyzing the aclpolicy.erb template I get this example:

[code]

Also you need to make a simple fix on aclpolicy.erb template as in my PR (https://github.com/voxpupuli/puppet-rundeck/pull/222)

[2016-04-22 21:50] richardraseley commented on #125
+1 I am also still seeing this as of today with version 2.2.0.

Puppet 4.2.3

[2016-04-23 01:33] richardraseley commented on #125
This is fixed for me in a commit <= ac505369b1fd77568858af166d673287cfb84a4a .

👍

[2016-04-28 15:49] olivierapex6 commented on #208
Thank you very much @devcfgc  , this totally fixed my issue... :)
... sorry for the late reply... I was working on another project because I was blocked on this one ...

[2016-04-28 15:49] #208 closed

[2016-05-02 16:36] danifr opened #224 "Release v2.3.0"
I think we are ready for a new release, right? :) Thanks a lot!!!!
[code]

[2016-05-02 17:44] jyaworski commented on #224
I need to modulesync first. Then maybe we can cut a new release.

[2016-05-02 20:16] richardraseley opened #225 "Support for SSL Terminated Proxy"
I suppose this is more of a feature request, but I'd be interested in support for terminating SSL at a proxy, as outlined in http://rundeck.org/docs/administration/configuring-ssl.html#using-an-ssl-terminated-proxy.

I validate that adding `-Drundeck.jetty.connector.forwarded=true` did the trick.

[2016-05-02 20:32] jyaworski commented on #225
Do you mean something like what Nginx does? I run mine on http, but clients connect to nginx on https.

[2016-05-02 20:33] richardraseley commented on #225
Nginx can provide SSL termination and reverse proxy capability, but I am using HAProxy specifically.

[2016-05-03 09:13] ak0ska commented on #225
I think this is currently possible by providing your own template via the [rundeck_profile_template](https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/init.pp#L181) parameter. You can copy the template from the module, add the extra switch(es) you need, and tell the module to use your own template instead of the built-in one.

[2016-05-03 09:15] ak0ska commented on #224
+1 for new version

[2016-05-03 15:13] richardraseley commented on #225
@ak0ska - You appear to be correct, thank you.

I am not sure if this feature request would still be useful more generally as part of the module. I will leave to others to judge.

[2016-05-04 18:19] dalisch commented on #224
+1

[2016-05-05 03:54] jyaworski commented on #224
We need to get the issues with #227 solved first.

[2016-05-07 10:45] igalic commented on #125
is this issue resolved now after merging #201?

[2016-05-10 17:33] bdwyertech commented on #196
I've been looking at this as well...  I'm going to make a cron that runs the below.
[code]

[2016-05-19 23:35] wyardley opened #231 "create_resources requiring uniqueness for resource_source names across projects"
tldr; I want to be able to have the same resource source filename within multiple projects.

Given the following manifest:

[code]

Puppet returns the error:

[code]

I realize this is a puppet constraint of uniqueness across resource names, regardless of scope, but seems like there might be a couple ways to work around this. I'm trying out a couple options to hack this feature into the module (si

[2016-05-20 00:44] rnelson0 commented on #231
Can you share or link to the code on line 135 where the error is generated?
It's not clear what is being created here.

On Thursday, May 19, 2016, Will Yardley <notifications@github.com> wrote:

--

Rob Nelson
rnelson0@gmail.com

[2016-05-20 00:45] rnelson0 commented on #231
Crap, never mind, I though I was responding to a puppet-users email, and mobile doesn't grant me an edit button. #winning

[2016-05-20 00:54] wyardley commented on #231
No worries, but yeah,  /etc/puppet/modules/rundeck/ is just this module.
We are doing more complicated stuff in our normal use case (and using an additional create_resources() with data from hiera), but this test case just has the class included and the above stanza in an enclosing role as a simple way of testing / reproducing the problem.

I was thinking about making a function to rename the key

[2016-05-20 19:57] jyaworski commented on #231
@wyardley if we really update stdlib here, we can use ensure_resources.

https://github.com/puppetlabs/puppetlabs-stdlib#ensure_resources

That doesn't completely solve your problem, but it may help.

[2016-05-20 21:10] duffrecords opened #232 "SSL truststore path is incorrect"
The SSL truststore path in templates/profile.erb is set to the wrong location, which makes rd-jobs unable to connect.  See the following issue:

[https://github.com/rundeck/rundeck/issues/507](url)

It could be fixed like this:
`-export RDECK_SSL_OPTS="-Djavax.net.ssl.trustStore=$RDECK_BASE/ssl/truststore -Djavax.net.ssl.trustStoreType=jks -Djava.protocol.handler.pkgs=com.sun.net.ssl.internal.www.

[2016-05-23 08:01] KrisBuytaert commented on #125
@igalic  looks like it solved it in my vagrant box ..

[2016-05-23 09:38] danifr commented on #224
Apart from https://github.com/voxpupuli/puppet-rundeck/pull/227 (merged already), are there other issues preventing us from releasing a new tag? Thanks

[2016-05-23 09:46] bastelfreak commented on #224
@danifr I'm fine with a new release after https://github.com/voxpupuli/puppet-rundeck/pull/233 got merged. do you want to write the CHANGELOG.md?

[2016-05-23 10:00] danifr commented on #224
Sure. I'll try to gather all the changes and then open a new PR

[2016-05-23 12:10] danifr commented on #224
First draft: https://github.com/danifr/puppet-rundeck/blob/changelog_v2.3.0/CHANGELOG.md
I used [github-changelog-generator](https://skywinder.github.io/github-changelog-generator/) to make my life easier.

Personally, I'd like to see https://github.com/voxpupuli/puppet-rundeck/pull/229 merged before releasing this new version.

[2016-05-23 12:17] #125 closed

[2016-05-23 12:17] igalic commented on #125
thanks for the feedback @KrisBuytaert!

[2016-05-23 17:17] wyardley commented on #231
@jyaworski I don't think ensure_resources will do what we want here, unless it will overwrite / update the resource. From what I can see, it only creates the resource. But the problem here is the requirement for resource keys to be unique at global scope, but in this case, we want to have a resource with the same key (but potentially different values) within the scope of a particular project.

[2016-05-23 17:58] jyaworski commented on #231
@wyardley it ensures a resource with those parameters exists in the catalog. If it does not, it creates it.

[2016-05-23 18:30] wyardley commented on #231
@jyaworski right, but in this case, the resource for resource_sources can exist with the same name in different projects. So will it work correctly for the scenario outlined in the manifest above, where two or more projects each have a resource named, e.g., 'resources', potentially with different parameters? My understanding is that resources in Rundeck::Config::Resource_source have to be unique,

[2016-05-23 18:45] wyardley commented on #231
It seems like it does a merge if the resource already exists (which I think in this case could cause unexpected or incorrect results).

[2016-05-24 16:02] nferragu opened #235 "Could not autoload puppet/parser/functions/validate_rd_policy: no such file to load -- puppetx/rundeck/acl"
Hi,

I get the following error:
[code]

I have only declared the rundeck module without any parameter.
All the modules from the .fixtures.yml are deployed on my Puppet master (v 3.8.x).
The puppet node is a CentOS 7 which seems to be not supported from the README.

The files `/var/lib/puppet/lib/puppet/parser/functions/validate_rd_policy.rb` and `/var/lib/puppet/lib/puppetx/rundeck/acl.rb` have be

[2016-05-24 16:46] jyaworski commented on #235
@nferragu try doing a full stop and start of the master. Also, make sure the server and agent are pointed to the same environment.

[2016-05-25 07:24] nferragu commented on #235
Hi,

Thanks for your response. Here is what I've managed to do but without success :

On puppet server :
``systemctl restart puppetserver``

On my node :
`puppet agent -t --no-noop --environment=rundeck`
`Info: Retrieving pluginfacts
Info: Retrieving plugin
Info: Loading facts
Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Could not autoload puppet/parser/functions/vali

[2016-05-25 13:00] nferragu commented on #235
Hello,

The issue seems to be corrected in github. Thus, there's a Puppetforge lacks of sync.

The problem was in : ` /var/lib/puppet/lib/puppet/parser/functions/validate_rd_policy.rb `
Replacing : ` require 'puppetx/rundeck/acl' `
With : `require File.expand_path(File.join(File.dirname(__FILE__), '..', '..', '..', 'puppetx', 'rundeck', 'acl.rb')) `
was successful too.

Your github contains : `req

[2016-05-25 13:00] #235 closed

[2016-05-25 16:17] jyaworski commented on #231
@wyardley stdlib 4.x is compatible with puppet 3. ensure_resources was introduced in one of the newer releases.

[2016-05-26 13:21] danifr commented on #224
Is there something else missing? Can we release v.2.3.0 today or tomorrow?

[2016-05-31 08:26] danifr commented on #224
https://github.com/voxpupuli/puppet-rundeck/releases/tag/v3.0.0

\o/

[2016-05-31 08:26] #224 closed

[2016-06-02 00:29] darrenk13 commented on #225
could we update the template to something like this?

[code]

the variable would need to be defined and verified that it was a boolean.  This would allow people to use this in hiera and not create a new template file.

Another option would be to have a variable to allow adding arbitrary strings to the RDECK_JVM variable in that template.  That would help future proof in case there are any other va

[2016-06-02 02:53] jyaworski commented on #225
@darrenk13 we're open to PRs if you want to file one. I believe someone proposed something like that previously.

[2016-06-30 21:22] ltutar opened #248 "feature request: able to change the ssl port"
The SSL port is hardcoded to 4443. It would be nice to able to change the ssl port through yaml.

[2016-07-01 16:49] #248 closed

[2016-08-05 11:13] ltutar opened #257 "resource_source.pp does not support puppetenterprise parameter puppetdb_ssl_dir"
https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/config/resource_source.pp#L325 is not supporting PROPERTY_PUPPETDB_SSL_DIR

As described in https://github.com/rundeck-plugins/rundeck-puppetenterprise-nodes-plugin, this parameter contains the puppet certificates. My own edited property file as an example:
[code]
The following is achieved through the puppet module:
[code]
This give

[2016-08-08 20:55] astrostl opened #259 "Unable to manage contents of framework.ssh.keypath ('/var/lib/rundeck/.ssh/id_rsa')"
- Puppet: 4.5.3
- Ruby: ruby 2.1.9p490 (2016-03-30 revision 54437) [x86_64-linux]
- Distribution: CentOS 7
- Module version: v3.1.0
### How to reproduce (e.g Puppet code you use)

[code]
### What are you seeing

`Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Resource Statement, Duplicate declaration: File[/var/lib/rundeck/.ssh

[2016-08-22 14:14] lzecca78 opened #263 "puppet/archive dependency break compatibility with camptocamp/archive"
### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  4.3.2
- Ruby:  ruby 2.1.8p440 (2015-12-16 revision 53160) [x86_64-linux]
- Distribution: ubuntu 14.04
- Module version: 3.1.0

### How to reproduce (e.g Puppet code you use)
just put both camptocamp/archive and voxpupuli/puppet-rundeck 3.1.0 and unfortunately due to the following dependency :

https://github.com/voxpupuli/

[2016-08-22 14:19] bastelfreak commented on #263
Hi @lzecca78, thanks for opening the issue. Are you able to provide us a PR with the change?

[2016-08-22 14:30] lzecca78 commented on #263
Hi @bastelfreak , i would like to, but when i try to push the branch it gives to me a 403 http status.
Anyway, the fix is :

[code]

[2016-08-23 12:01] lzecca78 commented on #263
Hi @bastelfreak, can you please enable me to push PR ?

[2016-08-23 12:13] petems commented on #263
@lzecca78 Hi! You don't need to push PR to the original branch. You can fork the repository, push your branch to the fork, then open a pull-request to the original with the change:

See https://help.github.com/articles/fork-a-repo/

[2016-08-23 15:02] lzecca78 commented on #263
@petems, thank you for the tip. I tried to send a PR with the change, but it breaks the tests in something that doesn't seem related with the change itself.
Can you please give a look and let me know if i can help you to go ahead ?

[2016-08-27 02:48] #257 closed

[2016-09-15 21:51] fessyfoo commented on #119
I'm just closing this because it's old.

[2016-09-15 21:52] #119 closed

[2016-09-21 19:17] alexjfisher commented on #263
Fixed in https://github.com/voxpupuli/puppet-rundeck/pull/264

[2016-09-21 19:17] #263 closed

[2016-09-29 20:23] jairojunior opened #268 "Metadata declare dependency of version 1.0.3 of puppetlabs-inifile but it doesn't contain create_ini_settings"
metadata.json should point to version 1.3.0

https://github.com/voxpupuli/puppet-rundeck/blob/5083a17d184599eba1a09da752a68183866b25ff/manifests/config/project.pp#L196

[2016-09-30 10:03] kilianw commented on #125
FYI, Not as successful on:
CentOS 6.8
ruby 1.8.7
puppet v3.7.5

[2016-10-10 17:36] bastelfreak commented on #268
thanks, merged the PR.

[2016-10-10 17:36] #268 closed

[2016-11-12 17:30] grafjo opened #284 "/etc/rundeck/profile format changed with rundeck-2.6.10"
Hi,

the format of `/etc/rundeck/profile` changed with the current version of rundeck / rundeck-2.6.10. The change was done here https://github.com/rundeck/rundeck/pull/2030/commits/7ebbf41dbbbebdc940ac373870fbf45b75fbdd6d

rundeck won't start on rhel / centos machines again.

Issues getting rundeck up and running again are discussed here https://github.com/rundeck/rundeck/issues/2164

[2016-11-18 20:14] lgallardo-edrans opened #287 "key storage definition using puppet-rundeck module"
Is there a way to define keys in the key storage using this module?

I would like to include a key here:

/var/lib/rundeck/var/storage/meta/keys/
/var/lib/rundeck/var/storage/content/keys/

I know I can use a file resource, but I would like to know if is possibile using this module.

Regards,

[2016-11-18 22:57] dalisch commented on #287
If you are using file-based keystores (as it seems you are) then yes, you can define your key properties as a hash like this:
https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/config/global/file_keystore.pp

...and pass them into the module via `$file_keystorage_keys`.

Note that the module (in its current design) only handles the use case for initial setup of the keys (i.e.: the f

[2016-11-21 20:51] lgallardo-edrans commented on #287
Thanks, it works like a charm. I just need to create the key/password in order to use it with the SCM plugin. Here I leave my hieradata definition as example:

[code]

And for the SCM definition:

`      scm.import.config.gitPasswordPath: 'keys/myproject/git/mykey.password'`

Regards,

[2016-11-21 20:51] #287 closed

[2016-11-25 08:09] danifr commented on #284
Fixed in 2.6.11, should we close this issue?

[2016-11-25 13:14] danifr opened #289 "Add Quartz job threadCount variable"
Hi,

I'm hitting some Rundeck limitations and I need to change the default value of ```quartz.props.threadPool.threadCount```

More info: http://rundeck.org/docs/administration/tuning-rundeck.html#quartz-job-threadcount
The module does not manage this variable at the moment so I'll start a PR to include it.
Thanks!

[2016-12-06 13:21] #289 closed

[2016-12-06 13:21] #284 closed

[2016-12-06 21:34] grafjo commented on #284
@danifr maybe we sould open this issue as with 2.7 there is a /etc/sysconfig/rundeck file now

[2016-12-14 09:53] Arzyfex opened #292 "puppet adding double quotes to allow parameters"
I've been facing one issue while using this module. When I managing ACL rules from puppet like this,

`'job'  => [ {'equals' => { 'name' => 'myJob' }, 'allow' => ['run','read']}, ],`

this adds ACL rules in aclpolicy file as below,

[code]
see, there are extra double quotes in allow parameter, I suppose it should be

`allow => [run,read]` but not `allow => ["run","read"]`.

Because of this extra d

[2016-12-15 10:12] #292 closed

[2016-12-16 12:59] lgallard commented on #231
I have the same issue, but I'm using the hieradata definition as follow:

[code]

Is there anything wrong with this definition? Did I miss something?

[2016-12-16 15:37] dalisch commented on #231
You almost had it - the resources are scoped to each project so you have to have a separate hash for each of them:

[code]

[2016-12-16 16:31] lgallard commented on #231
I put your suggestion but I got a duplicate declaration error.

hieradata:

[code]

Error:

 I also tried by modifying the hash like this:

[code]

But now I got this error:

And finally I also shanged the resourc number to 2:

[code]

And it stopped complaining but the Project2 has not resource assigned. I guess due to the lack of a resource 1.

[2016-12-19 14:51] lgallard commented on #231
Setting the projects with different resource hashes (I guess this is what @dalisch suggested originally):

[code]

And by fixing the resource_source.pp code as shown:

[code]

Because  there wasn't  name as in the file resource for aws-ec2.  Here is what I fixed:

https://github.com/lgallard/puppet-rundeck/blob/5290607667d4436a17eea8c9879b20bc3d736844/manifests/config/resource_source.pp#L301

And

[2016-12-29 16:19] rgarrigue opened #300 "Not working"
With version 3.2.0, I tried this

    class profiles::rundeck (
        $tag = 'rundeck',
        $organization = 'defaultorg',
        $password = 'Pa$$w0rd',
        $java = 'java-1.8.0-openjdk',
      ){

      class { '::java':
        package => "${::profiles::rundeck::java}-devel",
      }
      ->
      class { '::rundeck':
        user                  => $::profiles::rundeck::tag,

[2017-01-05 03:09] cjtoolseram commented on #300
Tried this
[code]

You are right that the 2.7.* is not working. Tried with Centos7.

[2017-01-05 05:07] cjtoolseram opened #303 "framework.server.port and url is not taking effect due to global config overwrite"
[code]

This section is actually overwriting the server port and url:
rundeck::config::global::framework
[code]

[2017-01-05 05:11] cjtoolseram commented on #303
#304

[2017-01-05 05:12] cjtoolseram commented on #303
#304

[2017-01-21 23:02] andybCDL opened #311 "Could not autoload puppet/parser/functions/validate_rd_policy: Syntax Error, unexpected ':'"
Hi folks

Trying to configure a very basic install of rundeck with puppet. I'm getting this error;

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Could not autoload puppet/parser/functions/validate_rd_policy: /etc/puppet/environments/sa_dev/modules/rundeck/lib/puppet/parser/functions/validate_rd_policy.rb:7: syntax error, unexpected ':', expecting ')'
...tion(:validate

[2017-01-22 10:51] bastelfreak commented on #311
Hi @andybCDL. You are using a legacy ruby version, probably 1.8.7. We dropped support for it  with the 3.0 release. the 2.3.0 release is the last one that supports that old ruby version. Feel free to join our IRC channel #voxpupuli on freenode if you have any questions about upgrading your ruby or Puppet version. Newer AIO packages ship puppet 4 with a bundled ruby version.

[2017-01-23 10:18] andybCDL commented on #311
Thanks @bastelfreak , yes the version of ruby on our puppet master is 1.8.7, sadly I can't upgrade it as its a shared master. I tried rolling back to 2.3.0 but it seems that version is not available via the puppetforge? 2.2.0 seems to have similar issues with the validate_rd_policy.rb

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Could not autoload puppet/parser/funct

[2017-01-30 15:54] msvechla commented on #300
This is a big issue. It is not working at all with the latest version!

[2017-03-14 22:20] dandunckelman opened #315 "Add support for Rundeck v2.7.x"
Nike!

[2017-03-23 19:26] Joginder22 commented on #40
Hi
Using SydOps's instruction trick worked though but now log output is not showing on rundeck. after debugging rundeck shows the error on commenting #grails.serverURL i.e gails.serverURL not set.

However, while changing the port 4440 back to my nat port works flawless.

[2017-03-24 14:46] af6140 commented on #315
@dandunckelman looks like voxpupuli works through a community triage google hangout event. They even has a community-triage repo.

[2017-03-24 17:25] dandunckelman commented on #315
@af6140 oh interesting.  I looked thru the `CONTRIBUTING` doc, but that's not detailed there.  Where'd you find that info?

[2017-03-24 18:46] af6140 commented on #315
@dandunckelman  check commit log of https://github.com/voxpupuli/community-triage

[2017-03-24 18:47] dandunckelman commented on #315
@af6140 thanks!

[2017-03-24 18:48] af6140 commented on #315
@dandunckelman  man you are fast.

[2017-03-24 18:49] dandunckelman commented on #315
@af6140 Ha, I'm working right now so email notifications catch my eye.

[2017-04-11 13:39] zlanyi commented on #232
Hi, this issue fixed in pull request here: https://github.com/voxpupuli/puppet-rundeck/pull/261

Cheers
Zoltan

[2017-05-23 11:05] #182 closed

[2017-05-25 09:17] ibaboo opened #319 "Rundeck service not starting"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.1
- Ruby: ruby-2.1.0
- Distribution: CentOS Linux release 7.3.1611
- Module version: 3.3.0

## How to reproduce (e.g Puppet code you use)
class profile::rundeck {
  include '::rundeck'
}

## What are you seeing
Rundeck does not start
## What behaviour did you expect instead
Rundeck should start
## Output log
Nothing bei

[2017-06-28 23:26] bastelfreak commented on #319
Hi @ibaboo, this should be fixed with https://github.com/voxpupuli/puppet-rundeck/pull/323

[2017-06-28 23:26] #319 closed

[2017-06-30 10:44] alwinmark commented on #300
It's not working and dies silently without logs on centos6. If I just install it directly from yum everything works as expected (for an unconfigured instance)

[2017-07-05 20:03] shamil opened #325 "file-based authentication broken for rundeck 2.7 and up"
### How to reproduce

set `package_ensure` to `2.7.3`

### What are you seeing

Since rundeck 2.7, jetty was upgraded to 9.x, which means jaas module class for file-based authentication needs to be changed

old value: `org.eclipse.jetty.plus.jaas.spi.PropertyFileLoginModule`
new value: `org.eclipse.jetty.jaas.spi.PropertyFileLoginModule`

[more info](https://github.com/rundeck/rundeck/blob/master/

[2017-07-06 06:09] ibaboo opened #326 "Rundeck jobs"
Hi

Firstly apologies for asking a question here. This not a bug

I have a question with regards to puppet/rundeck. In the module description it says “This module provides a way to manage the installation and configuration of rundeck, it's projects, **jobs** and plugins.”

Can you please advise how does one manage jobs using this module? I don’t see any examples?

[2017-07-10 21:09] #315 closed

[2017-07-13 18:46] abondi opened #328 "Evaluation Error: Unknown variable: 'facts'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 3.8.7
- Ruby: 2.0.0p648
- Distribution: CentOS 7
- Module version: 4.0.1

## How to reproduce (e.g Puppet code you use)

## What are you seeing
Puppet unable to complete it's run

## What behaviour did you expect instead
Either for the module to skip the facts or populate them correctly to allow completion.

## Output log

E

[2017-07-13 19:02] bastelfreak commented on #328
Hi @abondi, this module doesn't support puppet3 anymore. puppet3 is end of life since a long time, puppet4 is available for a few years and puppet5 got released a few days back. You should really really from this insecure version (same applies to your ruby version). You can contact us 24/7 in the irc channel #voxpupuli on freenode. We're happy to help you with the migration.

[2017-07-16 19:24] cy4n commented on #205
is this still an issue?
the default debian installation has been changed to bintray apt installation with apt-key import in #308
as @igalic posted gpg check is disabled by default, but one should be able to enable it in configuration.
aside of this, bintray serves packages over httpS, so the issue is not as bad as the old http .deb download imho.

[2017-08-02 03:43] Prannon commented on #319
Any chance you can commit this update to version 3.3.0 on puppet forge? If not, can you leave a comment noting the availability of this fix here?

[2017-08-23 08:22] alanjjenkins opened #331 "Custom email templates"
Hey,

I am currently into setting up Custom Email Templates (official documentation at: http://rundeck.org/docs/administration/email-settings.html#custom-email-templates ) however looking at the template that is currently in puppet-rundeck it does not appear that there is code to handle this in the template from what I can see.

Is this not currently handled by the module? If so would you mind if

[2017-08-25 09:29] #331 closed

[2017-09-08 11:19] cy4n commented on #325
this will be fixed in 571e90449ba0db72f2003e728823ce88035224a2 for rundeck 2.7 and when it gets released this will break support rundeck 2.6 and earlier

[2017-10-02 23:55] ffrank commented on #300
Paging @cy4n, I don't think we have support for 2.7 yet? (I'm not versed with rundeck at all, I may have this all wrong.)

[2017-10-03 05:56] cy4n commented on #300
We do have support for 2.7 and up. The current release should break older
versions 2.6 and lower due to the chanhed jetty version in 2.7

2.6 is so old though... :-)

Am Di., 3. Okt. 2017, 01:55 schrieb Felix Frank <notifications@github.com>:

[2017-10-07 18:32] cy4n commented on #325
this works as of https://github.com/voxpupuli/puppet-rundeck/commit/571e90449ba0db72f2003e728823ce88035224a2
(this is included in v4.1.0)

[2017-10-24 22:30] dandunckelman opened #340 "Update documentation: dataSource_config should be database_config"
Please.  I was confused for a minute.

https://github.com/voxpupuli/puppet-rundeck#datasource_config

[2017-10-25 12:05] #340 closed

[2017-10-25 16:24] dandunckelman commented on #340
Thanks

[2017-10-25 18:31] alexjfisher commented on #340
@dandunckelman No problem.  Thanks for pointing it out.

[2017-11-08 19:33] wyardley commented on #303
I'm not sure if either #283 or #301 is exactly the right fix.

Also, now that we implemented data types, ssl_port has a default, and thus isn't optional. anyone have a good thought on how to allow suppressing it now, or if that's even a valid use case?
The case where it's `''` is now technically impossible since ssl_port is type Integer
We could make it Optional[Integer] $ssl_port and then have it

[2017-11-09 04:27] #325 closed

[2017-11-09 04:27] #159 closed

[2017-11-09 04:27] #328 closed

[2017-11-09 04:28] #311 closed

[2017-11-09 05:07] wyardley commented on #205
The RedHat repo does have `gpgcheck=0`
https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/install.pp#L43

We should probably have the module ship the key or retrieve it (https://bintray.com/rundeck)

Looks like Debian now specifies the key for the repo:
https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/install.pp#L58-L60

[2017-11-09 05:45] wyardley commented on #326
I don't know how most folks do it, we just drop in yaml files into the project (in the role we have that wraps this module), but it looks like the module does also support the SCM import / export plugins, so maybe that would be one option.

[2017-11-09 05:51] wyardley commented on #259
Closing via #271

[2017-11-09 05:51] #259 closed

[2017-11-09 05:53] wyardley commented on #326
ps - #33 (still open) would seem to imply that this isn't actually yet implemented, other than via the SCM plugin. I don't know if it's likely to get implemented unless someone submits a PR, as the original authors are not working on this module anymore.

[2017-11-09 05:53] #326 closed

[2017-11-09 05:53] #232 closed

[2017-11-09 05:54] wyardley commented on #176
I believe SSL support is now implemented, let me know if there's still something lacking.

[2017-11-09 05:54] #176 closed

[2017-11-09 05:56] wyardley commented on #199
I reworked this a bit in #351 now that `user_id` and `group_id` are optional integers, but I think there's still room for improvement. I was able to reproduce some ordering issues.
Also, if it tries to change or delete the user while rundeckd is running, there will also be some errors, I think.

[2017-11-09 21:36] wyardley commented on #303
I think #356 will fix this. If someone can verify, that would be great.

[2017-11-09 21:38] wyardley commented on #300
Is this still an issue for folks (w/ 2.7)? We are testing the new version of this module with 2.10.x, so not sure about the behavior with 2.7

[2017-11-09 21:40] wyardley commented on #300
Closing via #316. Please comment or reopen if there are additional issues.

[2017-11-09 21:40] #300 closed

[2017-11-10 05:43] wyardley commented on #303
Closing via #356

[2017-11-10 05:43] #303 closed

[2017-11-10 05:48] wyardley commented on #30
I think this is now handled in at least a semi-intelligent way.
I made some additional fixes in #356, though there are probably some use cases this still doesn't handle perfectly. For example, it would be nice to allow overriding  `framework.server.url` in the case where one wants it to be different from the setting of `ssl_port`. Still, going to close this one out.

[2017-11-10 05:48] #30 closed

[2017-11-10 05:52] wyardley commented on #197
Config actually seems to pick up `rdeck_base` from `$framework_config['rdeck.base']` anyway! Seems to me like it should be one or the other, either params should accept the param from rdeck_base, and that should be used throughout (including in `rundeck::params::framework_config => rdeck.base`), or that it should be removed, and that users should override it using `framework_config`.

@juniorsysad

[2017-11-10 06:32] wyardley commented on #231
We've worked around this in a different way, so I'm going to (finally) close this one out.

[2017-11-10 06:32] #231 closed

[2017-11-10 21:10] dandunckelman commented on #225
@richardraseley @jyaworski I believe this can be closed, as it can be implemented in this way:

[code]

[2017-11-10 23:33] wyardley commented on #205
Closing via #358. It's now also more configurable.

[2017-11-10 23:33] #205 closed

[2017-11-10 23:34] wyardley commented on #199
If you can try with 5.0.0 once it gets out, would be nice to hear some feedback.
I think, though, that there are also problems removing the user while rundeck is running, so that may be hard to work around.

[2017-11-10 23:35] wyardley commented on #149
Is this still an issue?

[2017-11-11 09:43] #225 closed

[2017-11-12 08:22] shamil opened #362 "Puppet evaluation error in "rundeck::config::resource_source""
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: `5.3.2`
- Ruby: `ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]`
- Distribution: `Ubuntu 16.04 LTS`
- Module version: `5.0`

## How to reproduce (e.g Puppet code you use)

do not specify `directory` option when defining `rundeck::config::resource_source` resource.

[code]

## What are you seeing

Puppet evaluation

[2017-11-12 10:28] juniorsysadmin commented on #362
@shamil This is sadly a bug in stdlib: https://github.com/puppetlabs/puppetlabs-stdlib/pull/811

[2017-11-12 10:30] juniorsysadmin commented on #362
@shamil You will need to use stdlib 4.21.0

[2017-11-12 13:43] shamil commented on #362
@juniorsysadmin yep that seems to be it. closing

[2017-11-12 13:43] #362 closed

[2018-02-14 16:40] daylicron opened #372 "Rundeck not starting"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10
- Ruby: not installed on Rundeck Server
- Distribution: CentOS 7.4.1708
- Module version: 5.1.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
[code]

## What behaviour did you expect instead
Rundeck starting successfully

## Output log
From /var/log/rundeck/service.log:
`Error: Could not

[2018-04-26 10:00] philippeganz opened #375 "Preauth userNameHeader line breaks deployement with Tomcat"
Hello,

In our setup we use Tomcat to deploy Rundeck, but since Tomcat uses AJP, there is an issue with the new 4 preauth lines added to the config file: more precisely, the `rundeck.security.authorization.preauthenticated.userNameHeader = ""` breaks our config; removing or commenting out that line works for us. As preauth, we use Shibboleth based on AD.

The patch we are currently using is shown

[2018-06-05 07:58] philippeganz opened #380 "Rundeck user/group should be a system user/group"
Currently, the default rundeck user and group are created as non-system. Since these are meant to only run the rundeck service, they probably need to be declared as system account/group.

This could be done easily in the rundeck::install class:
[code]

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.9
- Ruby: 2.0
- Distribution: Centos 7.5, 3.10.0-862.3.2.el7.x86_64
- M

[2018-06-16 15:02] #380 closed

[2018-07-16 15:07] danielserrao opened #387 "Support inifile 2.0.0 or above"
Hi,

In this moment I'm in a project where we use the module puppetlabs/inifile >2.0.0 and if we use below that it will break a lot of other modules.

I would like to know if you intend to update this module to support a more recent version of inifile.

Thanks.

[2018-07-29 17:33] bastelfreak commented on #387
We're already testing against the latest version, we just forgot to update our `metadata.json`. Thanks for the hint, I will do this now.

[2018-07-30 09:34] danielserrao commented on #387
Hi bastelfreak,

Thanks for the feedback. We will be waiting for the next release.

[2018-08-09 23:30] sparr opened #391 "Incorrect example in comments for acl policy file"
plural groups and usernames in example: https://github.com/voxpupuli/puppet-rundeck/blob/5d31e83dfd9b1e59e82a9e95116b0feb88f26739/manifests/config/aclpolicyfile.pp#L58-L59

singular group and username in template: https://github.com/voxpupuli/puppet-rundeck/blob/5d31e83dfd9b1e59e82a9e95116b0feb88f26739/templates/aclpolicy.erb#L25-L37

[2018-08-29 19:24] felipegules opened #398 "Add resourcejson"
- Puppet: 3.8.7
- Ruby: 2.0.0p648
- Distribution: centos7
- Module version: 5.3.0

## How to reproduce (e.g Puppet code you use)
Add resource_source JSON extension
resource_format: 'resourcejson'

## Any additional information you'd like to impart

diff --git a/modules/rundeck/manifests/config/resource_source.pp b/modules/rundeck/manifests/config/resource_source.pp

--- a/modules/rundeck/manifests

[2018-08-30 22:29] bastelfreak commented on #398
Hi @felipegules , thanks for creating this issue. Can you create a PR with this code?

[2018-10-18 12:53] alexjfisher commented on #387
This is now fixed and released in 5.4.0

[2018-10-18 12:53] #387 closed

[2018-11-20 15:54] Ultimation opened #405 "Allow strings into ssl cert fields"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.5.2
- Ruby:
- Distribution: Centos 7.5
- Module version:     puppet-rundeck (5.4.0)

## How to reproduce (e.g Puppet code you use)
Provide string argument into ssl_certfile or ssl_keyfile
## What are you seeing
Fails due it not being a file path
## What behaviour did you expect instead
It to use the string provided instead

[2018-11-26 09:17] TheMeier opened #406 "[FR] Change rundeck-config.erb to key,value iterator only pattern"
The rundec-config.erb limits the values that can be set to the ones pre-defined. IMHO it would make much more sense to simply use something like this and removing any logic from the templates
[code]

[2018-11-26 11:09] bastelfreak commented on #406
Hi @TheMeier, thanks for the issue. It's a common pattern to add a Hash as parameter and at the end of the config file, iterate on the hash (but keep the current parameters). Would you like to provide a PR for this?

[2018-11-26 13:02] TheMeier commented on #406
Sure.
There is already such a hash iterator at the end, sadly its called `gui_config` with comment ` Hash of properties for customizing the [Rundeck GUI]`

How a bout deprecating the current parameters?

[2018-11-26 14:00] bastelfreak commented on #406
deprecating them would mean a breaking change. I would prefer it to just add a generic hash option where we iterate on.

[2018-11-29 18:08] Ultimation opened #407 "Add extra setting for forward headers"
Rundeck bug: https://github.com/rundeck/rundeck/issues/3840

Add `server.useForwardHeaders=true` as a possibility into the puppet module to work around this rundeck bug.

[2019-08-14 09:33] danifr opened #419 "Rundeck 3.1 does not require rundeck-config package anymore"
[Official info:](https://docs.rundeck.com/3.1.0-rc2/upgrading/upgrade-to-rundeck-3.1.html)

Line to change if version >= 3.1--> https://github.com/voxpupuli/puppet-rundeck/blob/master/manifests/install.pp#L72

[2019-08-15 12:24] danifr commented on #419
Fx for this issue here: https://github.com/voxpupuli/puppet-rundeck/pull/418
Not sure if is backwards compatible with <v3.1....

[2019-08-19 03:40] smasa90 commented on #419
I've done a duplicate because I havn't seen this PR before
https://github.com/voxpupuli/puppet-rundeck/pull/420
Adding some information :
- I've opened an issue here
https://github.com/rundeck/rundeck/issues/5168
Travis checks fail because `rundeck` package is still dependant of `rundeck-config` package on `CentOS 7`

[2019-09-09 08:12] danifr commented on #419
Merged https://github.com/voxpupuli/puppet-rundeck/pull/422

[2019-09-09 08:12] #419 closed

[2019-09-17 09:42] danifr commented on #199
Sorry for the laaaateee response. I think we can close this one. Thanks @wcooley :)

[2019-09-17 09:42] #199 closed

[2019-09-18 11:32] TheBigfoot opened #423 "What about a new module release?"
Currently the module version is: Version 5.4.0 released Oct 18th 2018

May I suggest to build a new one in order to take into account the last commits?

[2019-09-24 16:05] svenbs commented on #423
@alexjfisher, @danifr, @bastelfreak : as you are the last one merge prs and having a verified tag on your commits. Are there any plans on releasing a new version?

[2019-09-24 16:13] alexjfisher commented on #423
@svenbs @TheBigfoot Would either of you be interested in opening a [release PR](https://voxpupuli.org/docs/releasing_version/)?

[2019-09-28 09:12] danifr commented on #423
I can prepare the PR if no one else volunteers  :) I'll try to do it this weekend

[2019-09-29 21:32] #423 closed

[2019-10-03 10:19] mschmeitz opened #426 "secrets / keys are not stored in the database when using rundeck::key_storage_type: db"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: v5.5.16
- Ruby:
- Distribution: CentOS 7, MySQL 5.5.64
- Module version: 6.0.0

## How to reproduce (e.g Puppet code you use)
Keys are defined with password/pgp/privatekey within the project.

## What are you seeing
When using the default configuration, the keys are stored on the filesystem in /var/lib/rundeck/var/storage/co

[2019-10-18 08:17] linuxmail opened #428 "How to: rundeck.storage.provider.'1'.type = 'vault-storage'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.16
- Distribution: Debian 9 (Stretch)
- Module version: 5.4.0

We use Hashicorp Vault as key storage provider and I would like to add the configuration to Puppet.

The Rundeck configuration looks like:

[code]

Other [example](https://github.com/rundeck-plugins/vault-storage):

[code]

How I have to define it in my Hiera

[2019-10-27 12:30] #428 closed

[2019-11-20 14:53] erik-dekker opened #435 "Incorrect configuration key for threadcount"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.9
- Ruby: 2.1.9p490
- Distribution: CentOS 7
- Module version: 5.4.0
- Rundeck version: rundeck-3.0.21.20190424

## How to reproduce (e.g Puppet code you use)

Default install

## What are you seeing

The ERB template contains the following:

[code]

This results in the following config in `/etc/rundeck/rundeck-config.g

[2019-12-06 10:12] Jayfrown commented on #435
It would be great if we could get some feedback, or have this merged - it would be better for the community as a whole if this project remains up-to-date and relevant rather than dividing the community by forking this project.

[2020-01-03 12:09] Jayfrown commented on #435
For anyone else affected by this, upon further review we have opted to use the following workaround:

[code]

And of course we simply copied the vendored `rundeck-config.erb` to `modules/profile/templates/application/rundeck/rundeck-config.erb`, making the necessary adjustments there.

I'm leaving this issue open so it can be fixed upstream.

[2020-05-07 13:59] port22 commented on #407
is this still in progress?

Using Docker, this is a requirement, since there is no way of modifying the `rundeck-config.properties` directly.

[2020-06-03 17:01] #435 closed

[2020-08-07 10:08] bovy89 opened #449 "rundeck project type/provider"
We should be able to create a project using db storage type instead of file system. (https://docs.rundeck.com/docs/administration/projects/configuration.html)

`rundeck::config::project` permit only filesystem based projects definition

[2020-08-24 17:56] Micsi opened #451 "on VMWare, UUID is created in framework.properties that is overwritten by rundeck"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.17.0
- Ruby:
- Distribution: Debian 10
- Module version: 5.4.0

## How to reproduce (e.g Puppet code you use)

on a VMWare VM...

[code]

From time to time, rundeck adds a new line to framework.properties with a different UUID along with comments that the Server UUID was autocreated by Rundeck.
On the next Puppet run, the

[2020-09-09 07:57] dreamblack86 opened #452 "Support for Rundeck 3.3.x"
Is it generally planned to map the new changes of Rundeck 3.3.x with this module or does the support end with Rundeck 3.2.x ?
https://docs.rundeck.com/docs/upgrading/upgrading-to-rundeck-3.3.html

Thanks

[2020-09-09 09:40] shamil commented on #452
I was able to use this module for Rundeck `3.3.x`, although I'm sure not all everything will work as expected, for example logging configuration, which was changed in `3.3.x`.

[2020-11-25 15:14] bastelfreak opened #456 "Release v7.0.0 without CentOS 6 support!"
recent rundeck versions didn't work properly on CentOS 6. This release does not support CentOS 6 anymore!

[2020-11-25 15:14] #456 closed

[2021-01-05 08:49] overag3 opened #459 "a colon is added to realm.properties file even when auth_users hash is empty"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.19.1
- Distribution: Ubuntu 18.04.5
- Module version: v6.0.0

## How to reproduce (e.g Puppet code you use)
Leave default value of [auth_users empty hash](https://github.com/voxpupuli/puppet-rundeck/blob/d50ff9118dffd95ec43d51201813be2cdf2a5bcd/manifests/params.pp#L62) in params.pp file

## What are you seeing
During puppe

[2021-06-09 08:17] josemrs opened #469 "Support for Rundeck >3.3.10"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5
- Ruby: 2.3.3
- Distribution: Ubuntu
- Module version: 6.0.0

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

Error installing the package, not found in the repository

[code]

## What behaviour did you expect instead

Rundeck package installed without issues

## Any additional information yo

[2021-07-02 11:51] hdep opened #471 "Module doesn't support apt-key through proxy"
## Affected Puppet, Ruby, OS and module versions/distributions

- Distribution: Debian 10
- Module version: 6.0.0

## How to reproduce (e.g Puppet code you use)
load the module with following code
include rundeck

## What are you seeing
[code]
## What behaviour did you expect instead

I would like to be able to use a proxy for apt-key

[2021-07-05 13:58] hdep commented on #452
Hi,
this module doesn't works with rundeck 3.4 the package is not found.

[2021-07-13 10:23] koraz0815 commented on #452
Hi,
the repository for rundeck moved.
See also https://github.com/voxpupuli/puppet-rundeck/issues/469

[2021-07-13 10:30] koraz0815 opened #472 "Rundeck 3.4 no longer supports the rundeck.projectsStorageType configuration property"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.8.0
- Ruby: 2.0.0p648
- Distribution: CentOS Linux release 7.9.2009
- Module version: 6.0.0

## How to reproduce (e.g Puppet code you use)
Update existing system with rundeck 3.3 to 3.4

## What are you seeing
I see in the rundeck service.log the following error
[code]

## Any additional information you'd like to impart
ht

[2021-07-13 16:40] #459 closed

[2021-07-30 16:43] mhalano opened #473 "Depracate Bintray and use the newer repositories"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.22
- Ruby:
- Distribution: CentOS 7
- Module version: 6.0.0

## How to reproduce (e.g Puppet code you use)

Try to install Rundeck using the module.

## What are you seeing
It will fail because the module uses Bintray as repository and JFrog, former maintainer, deprecated the service.

## What behaviour did you expect in

[2021-08-06 09:13] #469 closed

[2021-08-06 09:13] #473 closed

[2021-09-20 20:26] nkalupahana opened #478 "Re-release required"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.11
- Distribution: Ubuntu 16.04
- Module version: 6.0.0

This module hasn't been re-released in a long time -- and currently, the released version still uses bintray, which means that it currently just doesn't work if installed from Forge. The only way to install this package currently is from source. It needs to be re-rel

[2022-01-11 08:18] Joris29 opened #482 "Add sensitive option for database_config"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.25.1
- Ruby: 2.5.9p229
- Distribution: RHEL 8
- Module version: v6.0.0

## How to reproduce (e.g Puppet code you use)

database_config         => {
      'type'            => 'postgresql',
      'url'             => "jdbc:postgresql://${db_host}/${_servername}",
      'username'        => $db_username,
      'password'

[2022-01-14 16:42] hdep commented on #478
Hello,

I agree, last release is from 2019 right ?
is there anyone from VoxPupuli can say wht is blocking the module in this state ? Maybe we can help a bit !

@root-expert  @bastelfreak  any helps ?

thank you

Is there anyone on @

[2022-01-14 16:47] root-expert commented on #482
Hello @Joris29 , can you provide a PR to address this issue?

[2022-01-16 14:28] #478 closed

[2022-01-17 11:07] hdep commented on #471
no activity from maintener. Closing

[2022-01-17 11:07] #471 closed

[2022-01-17 12:27] Joris29 commented on #482
I was more like a request but i'll check if i can provide a PR for it

[2022-09-09 05:47] Joris29 commented on #482
@root-expert could you take a look at the PR?